<form [formGroup]="newOrderForm">
  <div class="page-container">
    <div *ngIf="data.order_id; then orderExists; else createNeworder"></div>
    <ng-template #orderExists>
      <div class="a">
        <h1 class="heading">
          Auftrag: #{{ data.order_id | orderIdLeadingZeros }}
        </h1>
      </div>
      <div class="input-container">
        <h1 class="title">Zahnarzt</h1>
        <mat-select
          formControlName="customer_id"
          placeholder="{{ customer_name }}"
          class=" rechteck-eingabe"
        >
          <mat-option
            *ngFor="let doctor of customerData"
            value="{{ doctor.customer_id }}"
            >{{ doctor.name }}
          </mat-option>
        </mat-select>
      </div>
    </ng-template>
    <ng-template #createNeworder>
      <div class="a">
        <h1 class="heading">
          Neuen Auftrag erstellen
        </h1>
      </div>
      <div class="input-container">
        <h1 class="title">Zahnarzt</h1>
        <mat-select
          formControlName="customer_id"
          placeholder="Kunde auswählen"
          class=" rechteck-eingabe"
        >
          <mat-option
            *ngFor="let doctor of customerData"
            value="{{ doctor.customer_id }}"
            >{{ doctor.name }}
          </mat-option>
        </mat-select>
      </div>
    </ng-template>

    <!-- <div id="data-ist-nicht-vorhanden" *ngIf="!data.customer_id"></div>

    <div id="data-ist-vorhanden" *ngIf="data.customer_id"></div> -->

    <div class="input-container">
      <h1 class="title">Patient/Titel</h1>
      <mat-form-field class="example-full-width" style="margin-top: -20px">
        <input matInput formControlName="patient" />
      </mat-form-field>
    </div>

    <div class="input-container" style="margin-top: -15px">
      <h1 class="title">Fälligkeit</h1>
      <mat-form-field style="width: 350px">
        <input
          matInput
          [matDatepicker]="due_date"
          class=" rechteck-eingabe"
          formControlName="dueDate"
          style="border: transparent"
          (click)="due_date.open()"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="due_date"
        ></mat-datepicker-toggle>
        <mat-datepicker #due_date></mat-datepicker>
      </mat-form-field>
    </div>

    <div
      class="input-container"
      style="margin-top: -10px"
      *ngIf="data.status != 'sent'"
    >
      <h1 class="title">Harzfarbe</h1>
      <mat-select
        formControlName="harz"
        placeholder="Harzfarbe auswählen"
        class=" rechteck-eingabe"
      >
        <mat-option
          *ngFor="let harzfarbe of harzList"
          value="{{ harzfarbe.resin_name }}"
          >{{ harzfarbe.resin_name }}
        </mat-option>
      </mat-select>
    </div>

    <div
      class="input-container"
      *ngIf="data.status != 'sent' && data.status != 'postPrint'"
    >
      <h1 class="title">Kategorie</h1>
      <mat-select
        formControlName="dental_print_type"
        placeholder="Kategorie auswählen"
        class=" rechteck-eingabe"
      >
        <mat-option
          *ngFor="let oneCategory of categoryData"
          value="{{ oneCategory.model_type_name }}"
        >
          {{ oneCategory.model_type_name }}
        </mat-option>
      </mat-select>
    </div>
    <!-- Hier versteckt sich das feature -->

    <h1 class="title">Datei hochladen</h1>
    <img
      src="../../../assets/svg/Hochladen.svg"
      style="width: 10px;z-index: 1; margin-bottom: -22px;padding-top: 10px;margin-left: 10px"
    />
    <div>
      <input
        id="file"
        class="inputfile"
        formControlName="hochladen"
        #fileInputScan
        type="file"
        (change)="handleFileInput($event.target.files)"
      />
      <label for="file" *ngIf="fileToUploadName">
        <h1
          class="title"
          style="text-align: center; padding-top: 5px;font-weight: normal"
        >
          {{ fileToUploadName }}
        </h1>
      </label>

      <label for="file" *ngIf="!fileToUploadName">
        <h1
          class="title"
          style="text-align: center;padding-top: 5px;font-weight: normal"
        >
          Oralscan hochladen
        </h1>
      </label>
    </div>

    <!-- bis hier Fehlersuche -->

    <div class="input-container">
      <h1 class="title">Sonstige Informationen</h1>
      <textarea
        class=" rechteck-eingabe"
        formControlName="comment"
        rows="4"
        style="resize:none; width: 350px;height: 80px"
        placeholder="Anmerkung"
      ></textarea>
    </div>
    <div
      class="input-container"
      *ngIf="data.status == 'postPrint' || data.status == 'sent'"
    >
      <h1 class="title">Status setzten</h1>
      <mat-select
        formControlName="status"
        placeholder="Kategorie auswählen"
        class=" rechteck-eingabe"
      >
        <mat-option
          *ngFor="let status of orderStatus"
          value="{{ status.value }}"
        >
          {{ status.display_name }}
        </mat-option>
      </mat-select>
    </div>

    <div style="align-self: flex-end; margin-top: -10px">
      <mat-dialog-actions>
        <button
          *ngIf="!data.customer_id"
          class="break-button"
          mat-button
          (click)="onQuit()"
        >
          <h1
            style="font-size: 14px ; font-family: 'Segoe UI';padding-top: 5px"
          >
            Abbrechen
          </h1>
        </button>
        <button
          *ngIf="!data.customer_id"
          class="send-button"
          mat-button
          [mat-dialog-close]="newOrderForm"
        >
          <h1
            style="font-size: 14px ; font-family: 'Segoe UI';padding-top: 5px"
          >
            Erstellen
          </h1>
        </button>
        <button
          *ngIf="data.customer_id"
          class="break-button"
          mat-button
          (click)="onDeleteButton()"
        >
          <h1
            style="font-size: 14px ; font-family: 'Segoe UI';padding-top: 5px"
          >
            Löschen
          </h1>
        </button>
        <button
          *ngIf="data.customer_id"
          class="send-button"
          mat-button
          (click)="onSaveButton()"
        >
          <h1
            style="font-size: 14px ; font-family: 'Segoe UI';padding-top: 5px"
          >
            Speichern
          </h1>
        </button>
      </mat-dialog-actions>
    </div>
  </div>
</form>
