.page-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.half-container {

  max-height: 45vh;
  min-height: 45vh;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  overflow: auto;
  margin: 2px;
  object-fit: contain;
  box-shadow: 4px 4px 6px 0 rgba(39, 47, 51, 0.25);
}

.half-half-container{

  display: flex;
  justify-content: space-between;
}
.draggable-card-container {

  display: flex;
  background-color: #ffffff;
  flex-wrap: wrap;
}

.expand-collapse {

  flex-wrap: wrap;
  /* padding: 30px;  */
  font-size: 8pt;
  /* height: 60px; */
  /* object-fit: contain; */
  box-shadow: 2px 2px 8px 0 rgba(39, 47, 51, 0.25);

  margin: 5px;
}

#heading {
  height: 40px;
  object-fit: contain;
 font-family: "Segoe UI";
  font-weight: bold;
  font-size: 20px;
  padding-left: 5px;
  padding-top: 10px;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: left;
  color: #272f33;
}
#new-group-button{
  border-radius: 4px;
  font-family: "Segoe UI";
  font-size: 12px;
  border: dotted 2px #bababa;
  background-color: transparent;
  width: 99%;
  height: 40px;
  margin-left: 3px;
}
#order-heading {
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: bold;
  padding-top: 15px;
  position: relative;
}
#button-space{

  height: 40px;
  width: 100%;
  position: relative;
  padding-right: 20px;
  padding-top: 20px;
  float: right;
}
.button-style{
  float: right;
  font-family: "Segoe UI";
  width: 149px;
  height: 30px;
  margin: 2px;
  object-fit: contain;
  border-radius: 3px;
  border: solid 1px #62c6d6;
  background-color: white;

}
.button-style:hover{
  background-color: #62c6d6;
  color: white;
}


.create-new-order {
  width: 149px;
  height: 149px;
  border-color: #272f33;
  /* margin: 1px; */
  object-fit: contain;
  opacity: 0.5;
  box-shadow: 4px 4px 6px 0 rgba(39, 47, 51, 0.25);
  background-color: #ffffff;
  border: 1px solid #272f33;
}

.plus-button {
  margin: 48px;
  width: 47px;
  height: 43px;
  object-fit: contain;
}
.create-new-order {
  width: 149px;
  height: 149px;
  border-color: #272f33;
  /* margin: 1px; */
  object-fit: contain;
  opacity: 0.5;
  box-shadow: 4px 4px 6px 0 rgba(39, 47, 51, 0.25);
  background-color: #ffffff;
  border: 1px solid #272f33;
}
