<!-- Page Content -->
<div class="page-container">
  <div cdkDropListGroup>
    <div class="half-container">
      <b>Gruppierte Aufträge</b>
      <mat-expansion-panel
        *ngFor="let group of allGroupedOrders"
        class="expand-colapse"
        cdkDropList
        [cdkDropListData]="group.orderCardsByGroup"
        (cdkDropListDropped)="drop($event)"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>Gruppe: {{ group.groupId }}</b
            >, Aufträge: {{ group.orderCardsByGroup.length}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="draggable-card-container">
          <app-order-card
            *ngFor="let orderCard of group.orderCardsByGroup"
            cdkDragBoundary=".page-container"
            cdkDrag
            [orderId]="orderCard.orderId"
            [dueDate]="orderCard.dueDate"
            [priority]="orderCard.priority"
          >
          </app-order-card>
        </div>
      </mat-expansion-panel>
    </div>
    <div class="half-container">
      <b>Unzugeordnete Aufträge</b>, Aufträge: {{ allUngroupedOrders.length }}
      <div
        class="draggable-card-container"
        cdkDropList
        [cdkDropListData]="allUngroupedOrders"
        (cdkDropListDropped)="drop($event)"
      >
        <app-order-card
          *ngFor="let orderCard of allUngroupedOrders"
          cdkDragBoundary=".page-container"
          cdkDrag
          [orderId]="orderCard.orderId"
          [dueDate]="orderCard.dueDate"
          [priority]="orderCard.priority"
        >
        </app-order-card>
      </div>
    </div>
  </div>
</div>
