<form [formGroup]="newPrinterForm">
  <div class="page-container">
    <h1 class="heading">Gruppe: {{ data.group_id }}</h1>

    <div style="padding-top: 20px" class="container">
      <h3 class="sub-heading">
        Dateien vorbereiten
      </h3>

      <!-- Herunterladen Feld-->
      <div (click)="downloadSkinFiles()">
        <label
          ><h1
            class="title"
            style="padding-left: 30%;padding-top: 5px;font-weight: normal; font-size: 14px"
          >
            Skin-Dateien herunterladen
          </h1>
        </label>
        <img src="../../../assets/svg/icon-downlode.svg" class="icon" />
        <div class="file-input-symbole"></div>
      </div>
      <!-- Hochladen Feld-->
      <div class="fakefile">
        <input
          class="fileinputs"
          id="file"
          formControlName="hochladen"
          #fileInputSliced
          type="file"
          style="display: none"
          (change)="handleFileInput($event.target.files)"
        />
        <label for="file" *ngIf="fileToUploadName">
            <h1
              class="title"
              style="text-align: center; padding-top: 5px;font-weight: normal"
            >
              {{ fileToUploadName }}
            </h1>
          </label>
        <label for="file" *ngIf="!fileToUploadName"
          ><h1
            class="title"
            style="padding-left: 32%;padding-top: 5px;font-weight: normal; font-size: 14px"
          >
            Sliced-Datei auswählen
          </h1>
        </label>
        <img
          src="../../../assets/svg/Hochladen.svg"
          class="icon"
          (click)="uploadSlicedFile()"
        />
        <div class="file-input-symbole"></div>
        <p *ngIf="uploadProgress > 0">Upload bei: {{ uploadProgress }}%</p>
        <mat-progress-bar
          *ngIf="uploadProgress > 0"
          [value]="uploadProgress"
        ></mat-progress-bar>
      </div>
    </div>

    <!-- Drucker Auswahl-->
    <div class="container">
      <h3 class="sub-heading">Drucker</h3>
      <div>
        <mat-select
          formControlName="drucker"
          placeholder="Drucker auswählen"
          class=" drucker"
        >
          <div *ngFor="let printer of printerData">
            <mat-option
              *ngIf="!printer.is_printing"
              value="{{ printer.printer_id }}"
            >
              {{ printer.name }}
            </mat-option>
            <mat-option
            *ngIf="printer.is_printing"
            >
            Es steht kein Drucker zur Verfügung
          </mat-option>
        </div>
        </mat-select>
      </div>
    </div>

    <!-- Benachrichtigung-->
    <div class="container">
      <h3 class="sub-heading">Benachrichtigung</h3>
      <mat-form-field style="width: 350px;">
        <input
          matInput
          type="text"
          placeholder="E-Mail Adresse hinterlegen"
          formControlName="EMail"
        />
      </mat-form-field>
      <div style="font-family: 'Segoe UI'; font-size: 12px; width: 350px;">
        Du bekommst eine Benachrichtigung per Mail geschickt, sobald die Gruppe
        fertig gedruckt ist, oder falls ein Problem mit dem Druck auftauchen
        sollte.
      </div>
    </div>

    <div style="align-self: flex-end">
      <mat-dialog-actions>
        <button class="break-button" mat-button (click)="onBreakButton()">
          Abbrechen
        </button>
        <button class="send-button" mat-button (click)="onPrintButton()">
          Drucken
        </button>
      </mat-dialog-actions>
    </div>
  </div>
</form>
