<form [formGroup]="newPrinterForm">
  <div class="page-container">
    <div>
      <h1 style="font-size: 20px; font-weight: bold">Neuen Drucker anlegen</h1>
    </div>
    <br />
    <div>
      <h1 style="font-weight: bold; font-size: 14px;">Druckername</h1>
      <input formControlName="name" placeholder="Druckername angeben" />
    </div>
    <br />
    <div>
      <h1 style="font-weight: bold; font-size: 14px;">IP Adresse</h1>
      <input formControlName="host" placeholder="141.222.227.101" />
    </div>
    <br />
    <div>
      <h1 style="font-weight: bold; font-size: 14px;">Port eingeben</h1>
      <input formControlName="port" placeholder="8080" />
    </div>
    <br />
    <div>
      <mat-dialog-actions>
        <button mat-button class="break-button" (click)="onBreakButton()">
          Abbrechen
        </button>
        <button mat-button class="save-button" [mat-dialog-close]="newPrinterForm">
          Speichern
        </button>
      </mat-dialog-actions>
    </div>
  </div>
</form>
