<form [formGroup]="newPrinterForm">
  <div class="page-container">
    <div>
      <div>Neuen Drucker anlegen</div>
    </div>
    <br>
    <div>
      <div>Druckername</div>
      <input formControlName="printerName" placeholder="Druckername angeben" />
    </div>
    <br>
    <div>
      <div>Printernummer</div>
      <input formControlName="printerId" placeholder="Printer ID angeben" />
    </div>
    <div>
      <mat-dialog-actions>
        <button mat-button [mat-dialog-close]="newPrinterForm">
          Speichern
        </button>
        <button mat-button (click)="onBreakButton()">
          Abbrechen
        </button>
      </mat-dialog-actions>
    </div>
  </div>
</form>