<form [formGroup]="newPrinterForm">
  <div class="page-container">
    <div>
      <div>Neuen Drucker anlegen</div>
    </div>
    <br />
    <div>
      <div>Druckername</div>
      <input formControlName="name" placeholder="Druckername angeben" />
    </div>
    <br />
    <div>
      <div>IP Adresse</div>
      <input formControlName="host" placeholder="141.222.227.101" />
    </div>
    <br />
    <div>
      <div>Port eingeben</div>
      <input formControlName="port" placeholder="8080" />
    </div>
    <br />
    <div>
      <mat-dialog-actions>
        <button mat-button class="break-button" (click)="onBreakButton()">
          Abbrechen
        </button>
        <button mat-button class="save-button" [mat-dialog-close]="newPrinterForm">
          Speichern
        </button>
      </mat-dialog-actions>
    </div>
  </div>
</form>
