<form [formGroup]="newPrinterForm">
  <div class="page-container">
    <div>
      <div>Neuen Drucker anlegen</div>
    </div>
    <br>
    <div>
      <div>Druckername</div>
      <input class=" rechteck-eingabe" formControlName="printerName" placeholder="Druckername angeben" />
    </div>
    <br>
    <div>
      <div>Printernummer</div>
      <input class=" rechteck-eingabe" formControlName="printerId" placeholder="Printer ID angeben" />
    </div>
    <div>
    <mat-dialog-actions>
      <button mat-button [mat-dialog-close]="newPrinterForm">
        Speichern
      </button>
        <button mat-button (click)="onBreakButton()">
          Abbrechen
        </button>
      </mat-dialog-actions>
    </div>
    <!-- <button [mat-dialog-close]="newOrderForm">Speichern</button> -->
    <!-- <button (click)="onBreakButton()">Abbrechen</button> -->
  </div>
</form>