<div class="page-container" style="text-align: center">
  <div id="ueberschrift">Nähere Informationen zum Drucker</div>
  <!-- Anzeige von näheren Informationen über den Drucker -->
  <div *ngIf="data.detail == data.printerDetails.name">
    <div id="ueberschriftenTexte">Druckername</div>
    <div class="textboxen" id="textausrichten" style="text-align: center">
      {{data.detail}}
    </div>
    <div id="ueberschriftenTexte">Port des Druckers</div>
    <div class="textboxen" id="textausrichten">
      {{data.printerDetails.port}}
    </div>
    <div id="ueberschriftenTexte">Host des Druckers</div>
    <div class="textboxen" id="textausrichten">
      {{data.printerDetails.host}}
    </div>
  </div>
  <!-- Anzeige der Daten geht bis hier hin -->
  <!-- Anzeige der Daten vom Füllstand -->
  <div *ngIf="data.detail == (data.printerDetails.max_volume)*100">
    <div id="ueberschriftenTexte">Füllstand des Druckers in %</div>
    <div class="textboxen" id="textausrichten" style="text-align: center">
      {{data.printerDetails.resin_volume |percent}}
    </div>
    <div id="ueberschriftenTexte">Füllstand des Druckers in ml</div>
    <div class="textboxen" id="textausrichten">
      {{(data.printerDetails.resin_volume*0.4)*1000 |number}} ml
    </div>
    <div id="ueberschriftenTexte">Wie viel ml passen maximal in den Tank?</div>
    <div class="textboxen" id="textausrichten">
      {{data.printerDetails.max_volume}} ml
    </div>
  </div>
  <!-- Anzeige der Daten geht bis hier hin -->
  <!-- Anzeige der Daten vom Druckfortschritt -->
  <div *ngIf="data.detail ==(data.printerDetails.printer_progress)*100">
    <div id="ueberschriftenTexte">Druckfortschritt</div>
    <div class="textboxen" id="textausrichten" style="text-align: center">
      {{data.printerDetails.progress |percent}}
    </div>
    <div id="ueberschriftenTexte">Anzahl der bisher gedruckten Layer</div>
    <div class="textboxen" id="textausrichten">
      {{data.printerDetails.current_layer}}
    </div>
    <div id="ueberschriftenTexte">Anzahl der gesamt gedruckten Layer</div>
    <div class="textboxen" id="textausrichten">
      {{data.printerDetails.max_layer}}
    </div>
  </div>
  <!-- Anzeige der Daten geht bis hier hin -->
   <div *ngIf="data.detail == 0"> Es können keine näheren Informationen angezeigt werden, da der Füllstand oder der
    Druckfortschritt 0 beträgt</div>
  <div>
    <button mat-button (click)="onBreakButton()" class="close-button">
      Schließen
    </button>
  </div>
</div>