#container{
    background-image: linear-gradient(to bottom, #bef0e8, #62c6d6);
    height: 100vh;
  width: auto;
    text-align: center;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#container>*{
  flex: 1 100%;
}

#heading{
  font-family: "Segoe UI";
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
}

.subheading{
  font-family: "Segoe UI";
  font-weight: bold;
  font-size: 15px;
  margin-bottom: -5px ;
  margin-top: 5px;
}
.input-box{
  border-radius: 4px;
  border: transparent;
  padding-left: 10px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
  font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
  font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
  font-style: italic;
}


#login-input{
  text-align: center;
  justify-content: center;
  width: 100%;
  order: 3;
}
#login-info{
  text-align: center;
  font-size: 10px;
  order: 4;
}

#button-style{
  font-family: "Segoe UI";
  width: 70px;
  height: 30px;
  object-fit: contain;
  border-radius: 4px;
  border: white solid 1px;
  background-color: transparent;
  margin-top: 10px;
  margin-bottom: 10px;
}

#button-style:hover{
  font-weight: bold;
  border: solid 1px #62c6d6;
  background-color: white;
}
