<div id="container">

  <div id="heading">
    POMS
  </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div id ="login-input">

  <div class ="input-container">
     <label for="username"></label>
    <mat-form-field style="width: 200px">
    <input matInput class="input-box" type="text" formControlName="username" placeholder="Benutzername" />
    </mat-form-field>
  </div>

  <div class="input-container">
    <label for="password">  </label>
    <mat-form-field style="width: 200px">
    <input matInput class="input-box" type="password" formControlName="password" placeholder="Passwort" />
    </mat-form-field>
  </div>

      </div>

  <div style="padding-left: 100px">
    <button id="button-style" [disabled]="loading">login</button>
  </div>
      <div id ="login-info">
        <strong >Anmeldeinfos:</strong><br/>
        <strong>Normal User</strong> -> U: user P: user<br />
        <strong>Administrator</strong> -> U: admin P: admin
      </div>
</form>
</div>
