@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@font-face {
    font-family: Segoe UI;
    src: url(./assets/fonts/Segoe_UI.ttf) format("opentype");
  }

mat-dialog-container{
  border-image: linear-gradient(to bottom, #bef0e8, #5fdfff) 100 100%;
  border-left: 10px solid;
  border-right: 0.5px solid transparent;
}

.mat-progress-bar {
  border-radius: 5px;
  height: 200%;
}
.mat-progress-bar-background{fill: #d0d0d0
}
.mat-progress-bar-buffer{background-color: #d7d7d7
}
.mat-progress-bar-fill::after{background-color: #62c6d6
}

.mat-primary .mat-slider-thumb,.mat-primary .mat-slider-thumb-label,.mat-primary .mat-slider-track-fill{
  background-color: #62c6d6
}
.mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-thumb{background-color: #62c6d6}
.mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-bar{background-color: rgba(98, 198, 214, 0.54)
}
.mat-slide-toggle.mat-primary.mat-checked .mat-ripple-element{background-color: #62c6d6}
.mat-form-field.mat-focused.mat-primary .mat-select-arrow{color: #62c6d6}
.mat-radio-button.mat-primary.mat-radio-checked .mat-radio-outer-circle{border-color: #62c6d6}
.mat-radio-button.mat-primary .mat-radio-inner-circle,
.mat-radio-button.mat-primary .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-primary.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-primary:active .mat-radio-persistent-ripple{
  background-color: #62c6d6
}
.mat-radio-button.mat-primary.mat-radio-checked .mat-radio-outer-circle{
  border-color: #62c6d6
}
.mat-icon.mat-primary{color: #62c6d6
}
.mat-icon.mat-accent{color: #62c6d6
}

.mat-focused .mat-form-field-required-marker{color:#62c6d6}
.mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background{
  background-color: #62c6d6
}
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled){
  color: #62c6d6}

.mat-accent .mat-pseudo-checkbox-checked,.mat-accent .mat-pseudo-checkbox-indeterminate,.mat-pseudo-checkbox-checked,.mat-pseudo-checkbox-indeterminate
{background: #62c6d6
}
.mat-primary .mat-pseudo-checkbox-checked,.mat-primary .mat-pseudo-checkbox-indeterminate
{background: #62c6d6
}

.mat-accent .mat-pseudo-checkbox-checked,.mat-accent .mat-pseudo-checkbox-indeterminate,.mat-pseudo-checkbox-checked,.mat-pseudo-checkbox-indeterminate{background: #62c6d6
}
.mat-primary .mat-pseudo-checkbox-checked,.mat-primary .mat-pseudo-checkbox-indeterminate{background: #62c6d6
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background{background-color: #62c6d6
}
::-webkit-scrollbar{
  background-color: #d1d1d1;
  width: 5px;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb{
  background-color: #4c4c4c;
  width: 5px;
  border-radius: 4px;
}
