@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@font-face {
    font-family: Segoe UI;
    src: url(./assets/fonts/Segoe_UI.ttf) format("opentype");
  }

mat-dialog-container{
  border-image: linear-gradient(to bottom, #bef0e8, #5fdfff) 100 100%;
  border-left: 10px solid;
  border-right: 0.5px solid transparent;
}

.mat-progress-bar {
  border-radius: 5px;
  height: 200%;
}
.mat-progress-bar-background{fill: #d0d0d0
}
.mat-progress-bar-buffer{background-color: #d7d7d7
}
.mat-progress-bar-fill::after{background-color: #62c6d6
}

.mat-primary .mat-slider-thumb,.mat-primary .mat-slider-thumb-label,.mat-primary .mat-slider-track-fill{
  background-color: #62c6d6
}
.mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-thumb{background-color: #62c6d6}
.mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-bar{background-color: rgba(98, 198, 214, 0.54)
}
.mat-slide-toggle.mat-primary.mat-checked .mat-ripple-element{background-color: #62c6d6}
.mat-form-field.mat-focused.mat-primary .mat-select-arrow{color: #62c6d6}
.mat-radio-button.mat-primary.mat-radio-checked .mat-radio-outer-circle{border-color: #62c6d6}
.mat-radio-button.mat-primary .mat-radio-inner-circle,
.mat-radio-button.mat-primary .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-primary.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-primary:active .mat-radio-persistent-ripple{
  background-color: #62c6d6
}
.mat-radio-button.mat-primary.mat-radio-checked .mat-radio-outer-circle{
  border-color: #62c6d6
}
.mat-icon.mat-primary{color: #62c6d6
}
.mat-icon.mat-accent{color: #62c6d6
}

.mat-focused .mat-form-field-required-marker{color:#62c6d6}
.mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background{
  background-color: #62c6d6
}
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled){
  color: #62c6d6}

.mat-accent .mat-pseudo-checkbox-checked,.mat-accent .mat-pseudo-checkbox-indeterminate,.mat-pseudo-checkbox-checked,.mat-pseudo-checkbox-indeterminate
{background: #62c6d6
}
.mat-primary .mat-pseudo-checkbox-checked,.mat-primary .mat-pseudo-checkbox-indeterminate
{background: #62c6d6
}

.mat-accent .mat-pseudo-checkbox-checked,.mat-accent .mat-pseudo-checkbox-indeterminate,.mat-pseudo-checkbox-checked,.mat-pseudo-checkbox-indeterminate{background: #62c6d6
}
.mat-primary .mat-pseudo-checkbox-checked,.mat-primary .mat-pseudo-checkbox-indeterminate{background: #62c6d6
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background{background-color: #62c6d6
}
.mat-datepicker-content.mat-accent .mat-calendar-body-selected{background-color: #62c6d6;color:rgba(0,0,0,.87)}
.mat-datepicker-content.mat-accent .mat-calendar-body-disabled>.mat-calendar-body-selected{background-color: rgba(98, 198, 214, 0.4)
}
.mat-calendar-body-selected{background-color: #62c6d6;color:#fff}
.mat-calendar-body-disabled>.mat-calendar-body-selected{background-color: rgba(98, 198, 214, 0.4)
}
.mat-datepicker-toggle-active{color: #62c6d6
}
.mat-datepicker-toggle-active.mat-accent{color: #62c6d6
}
::-webkit-scrollbar{
  background-color: #d1d1d1;
  width: 5px;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb{
  background-color: #4c4c4c;
  width: 5px;
  border-radius: 4px;
}

.mat-select-trigger,.mat-selected,.mat-select-arrow{
  color: #62c6d6;
}
.mat-select-disabled{
  color: #62c6d6;
}
.mat-select-invalid{
  color: #62c6d6;
}
.mat-select-placeholder{
  font-style: italic;
  color: #62c6d6;
  padding-left: 5px;
}
.mat-form-field.mat-focused .mat-form-field-ripple{
  background-color: #62c6d6;
}
.mat-input-element::placeholder{color: rgba#62c6d6;font-style: italic}
.mat-input-element::-moz-placeholder{color: #62c6d6;font-style: italic}
.mat-input-element::-webkit-input-placeholder{color: #62c6d6;font-style: italic}
.mat-input-element:-ms-input-placeholder{color: #62c6d6;font-style: italic}
.mat-select-placeholder{color: #62c6d6;font-style: italic}
::-moz-selection { background: rgba(98, 198, 214, 0.6); color: #1f282c}
::selection { background: rgba(98, 198, 214, 0.6); color: #1f282c}
.mat-form-field.mat-focused .mat-form-field-label{color: #62c6d6;}

.mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after,.mat-input-element:disabled{color:rgba(0,0,0,.38)}
.mat-input-element{caret-color: #62c6d6}
.mat-input-element::placeholder{color: #62c6d6; padding-left: 5px; font-style: italic}
.mat-input-element::-moz-placeholder{color: rgba(98, 198, 214, 0.42); padding-left: 5px; font-style: italic}
.mat-input-element::-webkit-input-placeholder{color: rgba(98, 198, 214, 0.42); padding-left: 5px; font-style: italic}
.mat-input-element:-ms-input-placeholder{color: rgba(98, 198, 214, 0.42); padding-left: 5px; font-style: italic}
.mat-accent .mat-input-element{caret-color:#ffd740}

.mat-input-element:disabled{color:#62c6d6}
.mat-input-element{caret-color: #ff002f
}
.mat-input-element::placeholder{color:#62c6d6; font-style: italic}
.mat-input-element::-moz-placeholder{color:#62c6d6;font-style: italic}
.mat-input-element::-webkit-input-placeholder{color:#62c6d6;font-style: italic}
.mat-input-element:-ms-input-placeholder{color:#62c6d6;font-style: italic}
.mat-accent .mat-input-element{caret-color:#62c6d6}
.mat-form-field-invalid .mat-input-element,.mat-warn .mat-input-element{caret-color: #ff002f}
.mat-input-element{caret-color:#62c6d6}
.mat-select-placeholder{color:#62c6d6}
::placeholder{
  font-style: italic;
  padding-left: 5px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
  font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
  font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
  font-style: italic;
}
