.page-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.half-container {
  max-height: 47.3vh;
  min-height: 47.3vh;
  border: transparent;
  border-bottom: solid 1px #a2a2a2;
  overflow: auto;
  object-fit: contain;
}

.hilfe-nachbereitung {
  /* width: 274px; */
  height: 21px;
  object-fit: contain;
  font-family: SegoeUI;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: center;
  color: #272f33;
}
.ueberschriften {
  /* width: 328px; */
  height: 35px;
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: #272f33;
}
.ueberschriften1 {
  /* width: 328px; */
  height: 35px;
  object-fit: contain;
  font-family: SegoeUI;
  font-size: 16px;
  /* font-weight: bold; */
  /* font-style: normal; */
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: left;
  color: #272f33;
}
.cards {
  padding-top: 18px;
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
}
#order-card:hover {
  cursor: pointer;
}
.filter-box {
  width: 149px;
  height: 38px;
  border: solid 1px #62c6d6;
  background-color: #ffffff;
}
.button-space {
  position: relative;
  float: right;
}
.button-style {
  float: right;
  font-family: "Segoe UI";
  font-size: 14px;
  width: 100px;
  height: 30px;
  margin-top: 13px;
  margin-right: 20px;
  object-fit: contain;
  border-radius: 4px;
  color: #62c6d6;
  border: solid 1px #62c6d6;
  background-color: white;
}
.button-style:hover {
  background-color: #62c6d6;
  color: white;
  border: transparent;
  cursor: pointer;
}
.button-style-group {
  float: right;
  font-family: "Segoe UI";
  width: 100px;
  height: 30px;
  padding-top: 5px;
  object-fit: contain;
  border-radius: 4px;
  border: solid 1px #62c6d6;
  background-color: white;
  color: #62c6d6;
  text-align: center;
  font-size: 14px;
  margin-right: 5px;
  margin-top: -30px;
}
.button-style-group:hover {
  background-color: #272f33;
  color: white;
  border: transparent;
  cursor: pointer;
}
.button-style-printing {
  float: right;
  font-family: "Segoe UI";
  width: 130px;
  height: 30px;
  object-fit: contain;

  margin-top: 12px;
  font-size: 13px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: normal;
  color: #272f33;
}
.no-data-to-display {
  width: 376px;
  height: 42px;
  object-fit: contain;
  font-family: SegoeUI;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: center;
  color: rgb(98, 198, 214);
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 80px; */
  margin-block-start: 8%;
}
.title {
  font-size: 20px;
  object-fit: contain;
  font-family: "Segoe UI";
  text-align: left;
  color: #272f33;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 8px;
  width: 400px;
}
#order-heading {
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: bold;
  position: relative;
  height: 30px;
  width: 300px;
  margin-top: -30px;
  padding-left: 30px;
}

.draggable-card-container {
  display: flex;
  background-color: white;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-top: 20px;
  cursor: grab;
}
.draggable-card-container:active {
  cursor: pointer;
}

.expand-collapse {
  flex-wrap: wrap;
  box-shadow: 2px 2px 8px 0 rgba(39, 47, 51, 0.25);
  margin: 10px 10px 10px 10px;
}

#button-space {
  height: 40px;
  width: 100%;
  position: relative;
  padding-right: 25px;
  padding-top: 15px;
  float: right;
}
.button-style {
  margin-top: -3px;
  float: right;
  font-family: "Segoe UI";
  font-size: 14px;
  width: 100px;
  height: 30px;
  object-fit: contain;
  border-radius: 4px;
  color: #62c6d6;
  border: solid 1px #62c6d6;
  background-color: white;
}
.button-style:hover {
  background-color: #62c6d6;
  color: white;
  border: transparent;
}
.button-style-group {
  float: right;
  font-family: "Segoe UI";
  width: 100px;
  height: 30px;
  object-fit: contain;
  border-radius: 4px;
  border: solid 1px #62c6d6;
  background-color: white;
  color: #62c6d6;
  text-align: center;

  margin-right: 8px;
  margin-top: -24px;
}
.button-style-group:hover {
  background-color: #272f33;
  color: white;
  border: #272f33;
  cursor: pointer;
}

#color-block {
  width: 25px;
  height: 25px;
  border-radius: 4px;
  border: #62c6d6 1px solid;
  margin-bottom: -20px;
}

.order-heading-creation-date {
  /* width: 285px;
  height: 17px; */
  object-fit: contain;
  font-family: "Segoe UI";
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: normal;
  /* text-align: left; */
  color: #272f33;
  padding-left: 30px;
  position: relative;
  height: 30px;
  width: 300px;
  margin-top: -10px;
}
#order-heading {
  margin-top: -30px;
  padding-left: 30px;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: bold;
  position: relative;
  height: 30px;
  width: 300px;
}
.titel-length {
  object-fit: contain;
  font-family: "Segoe UI";
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  color: #62c6d6;
  position: relative;
}
.filter-is-set {
  object-fit: contain;
  font-family: "Segoe UI";
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding-bottom: 3px;
  padding-left: 3px;
}
