<div class="page-container">
  <div cdkDropListGroup>
    <div class="half-container">
      <h1 class="title">
        Gruppierte Aufträge
        <b class="titel-length">{{ filteredGroupData.length }}</b>
      </h1>
      <div class="button-space" style="margin-top: -6px; ">
        <div
          class="button-style-group"
          (click)="openDialogFilterGroups()"
          [appFilterButtonActivated]="isGroupFilterSet"
        >
          <div *ngIf="isGroupFilterSet == 0">
            <h2 style="font-size: 14px; padding-bottom: 3px; padding-left: 3px">
              Filter setzen
            </h2>
          </div>
          <div
            style="color:black;"
            *ngIf="isGroupFilterSet != 0"
            (click)="resetGroupFilter($event)"
          >
            <h2 class="filter-is-set">
              Filter ({{ isGroupFilterSet }}) <b>X</b>
            </h2>
          </div>
        </div>
      </div>
      <div class="no-data-to-display" *ngIf="!filteredGroupData.length" style="margin-top: 50px">
        <img src="../../../assets/svg/Zahn.svg" /><br />
        <b style="font-family: 'Segoe UI'; font-size: 14px">
          Momentan existieren keine Gruppen die sich in der Nachbereitung
          befinden.</b>
      </div>
      <div class="expand-print" *ngIf="filteredGroupData.length">
        <mat-expansion-panel
          *ngFor="let group of filteredGroupData"
          class="expand-collapse"
          cdkDropList
          [cdkDropListData]="group.orders"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
                <div style="padding-top: 15px">
                    <div id="color-block" [style.backgroundColor]="
                    getResineColorValue(group.resin_name)
                  "></div>
              <div id="order-heading">
                Gruppe: {{ group.group_id }}, Aufträge:
                {{ group.orders.length }} -
                <b (click)="copyResinFromGroup(group)">{{
                  group.resin_name
                }}</b>
              </div>
              <div class="order-heading-creation-date">
                  erstellt: {{ group.creation_date | date:'yyyy-LL-dd' }}
                </div>
              </div>
            </mat-panel-title>
            <div id="button-space">
              <button class="button-style" (click)="onGroupClick(group)">
               Gruppendetails
              </button>
            </div>
          </mat-expansion-panel-header>
          <div class="draggable-card-container">
            <app-order-card
              id="dragging"
              *ngFor="let orderCard of group.orders"
              [order]="orderCard"
            >
            </app-order-card>
          </div>
        </mat-expansion-panel>
      </div>
    </div>

    <div class="half-container">
      <h1 class="title">
        Abgeschlossene Aufträge
        <b class="titel-length">{{ allSentOrders.length }}</b>
      </h1>
        <div style="margin-top: -6px">
      <div
        class="button-style-group"
        (click)="openSentFilter()"
        [appFilterButtonActivated]="isSentFilterSet"
      >
        <div *ngIf="isSentFilterSet == 0" >
          <h2 style="font-size: 14px; padding-bottom: 3px; padding-left: 3px">
            Filter setzen
          </h2>
        </div>
        <div
          style="color:black;"
          *ngIf="isSentFilterSet != 0"
          (click)="resetSentOrderFilter($event)"
        >
          <h2 class="filter-is-set">
            Filter ({{ isGroupFilterSet }}) <b>X</b>
          </h2>
        </div>
      </div>
        </div>
      <div class="cards">
        <app-order-card
          id="order-card"
          *ngFor="let orderCard of filteredSentOrders"
          [order]="orderCard"
        >
        </app-order-card>
      </div>
    </div>
  </div>
</div>
