<div id="flex-container">
  <div *ngIf="!bearbeitenAktiv">
    <h1>{{ data.item.title }}</h1>

    <iframe
      *ngIf="data.item.video_url"
      width="560"
      height="315"
      [src]="data.item.video_url | safe"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>

    <div class="text">
      {{ data.item.content }}
    </div>
  </div>

  <div class="text" *ngIf="bearbeitenAktiv">
    <div><h4>Titel bearbeiten</h4></div>
    <h1>
      <textarea
        cols="51"
        rows="2"
        style="resize:none;"
        [(ngModel)]="data.item.title"
      >
      {{ data.item.title }}</textarea
      >
    </h1>
    <div><h4>Video bearbeiten</h4></div>
    <textarea
      cols="90"
      rows="8"
      class="text"
      style="resize:none;"
      [(ngModel)]="data.item.video_url"
    >
      {{ data.item.video_url }} /></textarea
    >

    <div><h4>Beschreibung der Hilfestellung bearbeiten</h4></div>
    <textarea
      cols="90"
      rows="8"
      style="resize:none;"
      [(ngModel)]="data.item.content"
    >
  {{ data.item.content }}
</textarea
    >
  </div>
  <div>
    <button *ngIf="bearbeitenAktiv" class="button-first" (click)="saveButton()">
      Speichern
    </button>
    <button
      *ngIf="bearbeitenAktiv"
      class="button-sec"
      (click)="onBreakButton()"
    >
      Schließen
    </button>
    <button
      *ngIf="!bearbeitenAktiv"
      class="button-first"
      (click)="onBreakButton()"
    >
      Schließen
    </button>
    <button
      *ngIf="!bearbeitenAktiv"
      class="button-sec"
      (click)="bearbeitenButton()"
    >
      Bearbeiten
    </button>
  </div>
</div>
