#flex-container{
  width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
}
img{
  width: 400px;
 position: center;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 15%;
}
h1{
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: bold;
}
.text{
  font-family: "Segoe UI";
  font-size: 12px;
}
.button-first{
  float: right;
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: normal;
  width: 100px;
  height: 30px;
  margin: 2px;
  object-fit: contain;
  border-radius: 3px;
  color: white;
  border: solid 1px #62c6d6;
  background-color: #62c6d6;
}
.button-sec{
  float: right;
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: normal;
  width: 100px;
  height: 30px;
  margin: 2px;
  object-fit: contain;
  border-radius: 3px;
  color: #62c6d6;
  border: solid 1px #62c6d6;
  background-color: #ffffff;
}
