
<div id="search-input" href="#">
  <img
    src="../../../assets/svg/lupe.svg"
    alt="lupe"
    width="12"
    height="12"
    style=" margin-left: 15px;margin-bottom: -40px; fill: #ff0c3d"
  />
  <div id="such-balken">
    <mat-form-field style="margin-top: -25px; padding-left: 22px" >
      <input
        type="text"
        placeholder="Suche..."
        aria-label="Number"
        matInput
        [formControl]="searchControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of filteredResultOptions | async"
          [value]="option"
          (click)="onOptionClicked(option)"
        >
          {{ option.category }}
          {{ option.result }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
</div>
