#such-balken {
  width: 200px;
  height: 20px;
  margin-left: 10px;
  border-radius: 4px;
  background-color: white;
}

.category-icon {
  width: 16.5px;
  height: 20px;
  margin-right: 8px;
  margin-top: -5px;
}
