<div class="page-container">
  <h1 class="heading">
    Gedruckte Gruppe: {{ data.group_id}}
  </h1>

  <div style="padding-top: 20px" class="container">
    <h3 class="sub-heading">
      Dateien herunterladen
    </h3>

    <!-- Herunterladen Feld-->
    <div>
      <input
        id="file"
        class="fileinputs"
        #fileInputSkin
        type="file"
        style="display: none"
      />

      <label for="file"
        ><h1
          class="title"
          style="padding-left: 30%;padding-top: 5px;font-weight: normal; font-size: 14px"
        >
          Solid-Dateien herunterladen
        </h1></label
      >
      <img src="../../../assets/svg/icon-downlode.svg" class="icon" />
      <div class="file-input-symbole" (click)="downloadSkinFiles()"></div>
    </div>

    <div class="fakefile" id="sliced-file" (click)="downloadSliced()">
      <label for="sliced-file"
        ><h1
          class="title"
          style="padding-left: 32%;padding-top: 5px;font-weight: normal; font-size: 14px"
        >
          Sliced-Datei herunterladen
        </h1></label
      >
      <img src="../../../assets/svg/icon-downlode.svg" class="icon" />
      <div class="file-input-symbole"></div>
    </div>
  </div>
  <div style="align-self: flex-end">
    <mat-dialog-actions>
      <button class="break-button" mat-button (click)="onBreakButton()">
        Abbrechen
      </button>
      <button class="break-button" mat-button (click)="onRepeatPrintJob()">
        Druck wiederholen
      </button>
      <button class="send-button" mat-button (click)="onFinishGroup()">
        Gruppe abschließen
      </button>
    </mat-dialog-actions>
  </div>
</div>
