<div class="flex-container">
  <!-- Left sidebar -->
  <div id="Spalte_Links" [ngClass]="ref.click === true ? 'toggled' : ''">
    <button appSidebar #ref="appSidebar" type="button" class="" data-toggle="offcanvas">
      >>
    </button>

    <img src="../../../assets/png/account-login-3x.png" alt="Smiley face" height="42" width="42">
    <a routerLink="order">Auftragsübersicht</a>
    <br> <a routerLink="printer">Druckzeit</a>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <div>Hilfestellung</div>
    <div>Einstellung</div>
  </div>
  <!-- Middle Bar -->
  <div class="center-row">
    <nav class="nav" id="Kopfleiste">
      <div class="nav-link active" href="#">
        <input type="search" id="suche" placeholder="Suche">
      </div>

      <div class="nav-link active" href="#">
        Neuen Auftrag anlegen
      </div>
      <!--   <a class="nav-link disabled" href="#">Disabled</a>
   -->
    </nav>
    <ng-content></ng-content>
  </div>
  <!-- Right sidebar -->
  <div id="Spalte_Rechts">aktuelle Aufträge</div>
</div>