@import "https://i.icomoon.io/public/temp/9656e1f4b0/UntitledProject/style.css";
/* icons import*/
.icon-abbrechen:before {
  content: "\e900";
}
.icon-Auftrag:before {
  content: "\e901";
}
.icon-auftraguebersicht:before {
  content: "\e902";
}
.icon-Button_Hilfestellung:before {
  content: "\e903";
}
.icon-drag-drop:before {
  content: "\e904";
}
.icon-einstellung:before {
  content: "\e905";
}
.icon-gedruckt-auftreage:before {
  content: "\e906";
}
.icon-Gruppe-454:before {
  content: "\e90d";
}
.icon-icon-auftrag-1:before {
  content: "\e90e";
  color: #52b4ff;
}
.icon-lupe:before {
  content: "\e907";
  color: #000000;
}
.icon-menu-buttonleft:before {
  content: "\e908";
}
.icon-menu-buttonright:before {
  content: "\e90f";
}
.icon-pause:before {
  content: "\e909";
}
.icon-Pfad-141:before {
  content: "\e90a";
}
.icon-Plusbutton:before {
  content: "\e90b";
  color: #dae2df;
}
.icon-printer1:before {
  content: "\e90c";
}
.icon-printer:before {
  content: "\e954";
}
.icon-drawer:before {
  content: "\e95c";
}
/*ab hier richtiges style*/
.flex-container {
    height: auto;
    border-style: none;
    display: flex;

    justify-content: space-between;

}
#Spalte-Links {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 60px;
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  padding-left: 10px;


}
.small-bar-left{
  width: 10px;
  height: auto;
  object-fit: contain;
  padding-left: 10px;
  background-image: linear-gradient(to bottom, #bef0e8, #62c6d6);
  position: sticky;
  z-index: 0;
}
body{
  background-color: #f6f6f6;
}

#Spalte-Links.toggled {
padding-right: 260px;
}

#expandet-collebs-left{
  background-image: url("../../../assets/svg/menu-buttonleft.svg");
  background-size: auto 30%;
  background-position: 14px center;
  width: 270px;
  height: 15%;
  text-indent: -9999px;

  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  margin-left: -10px;
}


#expandet-collebs-left:focus{
  background-image: url("../../../assets/svg/menu-buttonright.svg");


}

.button-style {
  background-position: 14px center;
  left: 0;
  width: 270px;
  height: auto;
  padding-top: 10px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;

  object-fit: contain;
  font-family: "Segoe UI";
  font-weight: normal;
  line-height: 1.33;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;


  border-left: 10px solid transparent;
  font-size: 16px;
  color: #003549;
  margin-left: -20px;
  z-index: 1;
}

.button-style:focus {
  font-family: "Segoe UI";
  font-weight: bold;
  border-left: 10px solid #003549;


}

#auftragsübersicht{
background-image: url("../../../assets/svg/auftraguebersicht.svg");
}
.Symbol-13-2 {
  width: 33.7px;
  height: 40.8px;
  object-fit: contain;
}

#gedruckte-aufträge{
  background-image: url("../../../assets/svg/gedruckt-auftreage.svg");
  background-size: auto 90%;
}

#druckerverwaltung{
  background-image: url("../../../assets/svg/printer.svg");
  background-size: auto 90%;

}
.transparent{
  padding-left: 30%;
}



#hilfestellung{
  background-image: url("../../../assets/svg/Button_Hilfestellung.svg");
  background-size: auto 90%;

}
#einstellung{
  background-image: url("../../../assets/svg/einstellung.svg");
  background-size: auto 90%;
}


#Spalte-Links>div {
  /* Hier die Navigationsleiste anpassen

*/
}


#Spalte-Rechts {
  width: 310px;
  height: 100vh;
  object-fit: contain;
  background-color: #f6f6f6;
  max-width: 310px;
  min-width: 310px;
}

#Kopfleiste {
  height: 8%;
  object-fit: contain;
  opacity: 0.8;
  background-color: #272f33;
  display: flex;
  justify-content: space-between;
}

.center-row {
  flex-grow: 2;

  display: flex;
  flex-direction: column;
}

#search-box{
  position: absolute;
  width: 20%;
  height: 5%;
  background: #ffffff;
  border-radius: 40px;
  padding: 1px;
}
#suche {
  background-color: transparent;
  color: black;
  border: transparent;
  font-weight: bold;
  border-radius: 30%;
  font-size: 100%;

}
#such-balken input[type=search]{
  padding-left: 12%;
  padding-top: 2%;
}
#such-balken {
 position: relative;
}
#such-balken i{
  position: absolute;
  left: 0;
  top: 0px;
  background-size: auto;
 padding: 2.8%;
}

.auftrag {
  width: 300px;
}

.progressbar{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin:5px;
}
.progressbar > * {
  margin:5px;
}

#druckfortschritt{
  font-size: 26px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: left;
  color: #272f33;
  margin-top: 32px;
}
