<div class="flex-container">
    <!-- Left sidebar -->

  <div class="small-bar-left"></div>

    <div id="Spalte-Links" [ngClass]="ref.click === true ? 'toggled' : ''">
      <div class="small-bar-left"></div>
          <button appSidebar #ref="appSidebar" type="button" id="expandet-collebs-left" data-toggle="offcanvas">
          >
          </button>

      <div style="margin-bottom: auto">
      <div>
          <nav routerLink="order" class="button-style" id="auftragsübersicht" >
            <a class="transparent">Auftragsübersicht</a></nav>
      </div>

      <div>
        <nav routerLink="printedorders" class="button-style" id="gedruckte-aufträge">
          <a class="transparent">gedruckte Aufträge</a></nav>
        </div>

      <div>
        <nav routerLink="printer" class="button-style" id="druckerverwaltung">
          <a class="transparent">Druckerverwaltung</a></nav>
    </div>
      </div>


    <div style="margin-top: auto">
      <nav routerLink="" class="button-style" id="hilfestellung">
        <a class="transparent"></a>Hilfestellung
      </nav>
    </div>
    <div>
      <nav routerLink="" class="button-style" id="einstellung">
        <a class="transparent"></a>Einstellungen
      </nav>
    </div>
  </div>
  <!-- Middle Bar -->
  <div class="center-row">
    <nav class="nav" id="Kopfleiste">
      <div class="nav-link active" href="#">
        <input type="search" id="suche" placeholder="Suche" />
        <button tpye="submit">
          <img
            src="../../../assets/png/Lupe/Lupe.png"
            alt="Smiley face"
            height="25"
            width="25"
          />
        </button>
      </div>

      <div class="nav-link active" href="#" (click)="openDialog()">
        <img
          src="../../../assets/png/Plusbutton/Plusbutton.png"
          alt="Smiley face"
          height="30"
          width="30"
        />
        Neuen Auftrag anlegen
      </div>
      <!--   <a class="nav-link disabled" href="#">Disabled</a>
   -->
    </nav>
    <div style="flex-grow: 1">
      <ng-content></ng-content>
    </div>
  </div>
  <!-- Right sidebar -->
  <div id="Spalte-Rechts">
    <p id="druckfortschritt">Druckfortschritt</p>
    <div *ngFor="let printer of printerSubscription | async">
      <!-- <p>{{ printer | json }}</p> -->
      <p>
        <b>{{ printer.name }}</b> druckt <b>Gruppe 2</b>
      </p>
      <div class="progressbar">
        <mat-progress-bar  [value]="printer.progress * 100">
        </mat-progress-bar>
        <img src="../../../assets/svg/pause.svg" />
        <img src="../../../assets/svg/abbrechen.svg" />
      </div>
      <p>Druckfortschritt bei: {{ printer.progress*100 | number:'1.0-0' }}%</p>
      <hr/>
    </div>
  </div>
</div>
