.card {
    width: 149px;
    height: 149px;
    object-fit: contain;
    display: flex;
 
    /* BK
    background-image: url("../../../assets/png/Order-Card.png");
    background-size: 149px; */
}
.card-inner {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    margin: 8px; 
}

.order-icon {
    width: 44.7px;
    height: 44.7px;
    object-fit: contain; 
}
.drag-n-drop {
    display: flex;
    align-self: flex-end;
    margin: 2px;
    width: 11.2px;
    height: 18.6px;
    object-fit: contain;
   }

   .order-card-text {
    /* width: 96px; */
    height: 17px;
    object-fit: contain;
    font-family: SegoeUI;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #272f33;
    margin: 7px;
  }
