.card {
    width: 100px;
    height: 100px;
    object-fit: contain;
    display: flex;
margin: 2px;
  border: transparent ;
}
.card-inner {
    background-color: #ffffff;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: transparent;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.16);
}

.icon-card{
  width: 35px;
  height: 35px;
  margin: 5px;
}
.drag-n-drop {
    display: flex;
    align-self: flex-end;
    object-fit: contain;
  margin-right: 5px;
  width: 7px;
   }

   .order-card-text {
   font-family: "Segoe UI";
     font-weight: lighter;
     font-size: 12px;
     margin-top: -5px;
  }
#order-heading{
  font-family: "Segoe UI";
  font-weight: bold;
  font-size: 14px;
}
