<div class="card" (click)="onCardClick(this)">
  <div class="card-inner">
    <div [ngSwitch]="order.dentalPrintType">
      <div *ngSwitchCase="'Schienen für Halterungsposition'">
        <!-- Bracket Position Splints -->
        <img class="icon-card" src="../../../assets/svg/Schiene.svg">
      </div>
      <div *ngSwitchCase="'Kundenspezifische Anpassung'">
        Custom Trays
      </div>
      <div *ngSwitchCase="'Gießbare Teile'">

        Castable Parts
      </div>
      <div *ngSwitchCase="'Backenzaehne'">
        True Color Dies
      </div>
      <div *ngSwitchCase="'Weichgewebe'">
        Soft Tissue
      </div>
      <div *ngSwitchCase="'Implantat'">
        Implant Jigs
      </div>
      <div *ngSwitchCase="'Justierung der Zaehne'">
        Aligners
      </div>
      <div *ngSwitchCase="'Modelle und Implantatmodelle'">
        Models and Implantat Models
      </div>
      <div *ngSwitchCase="'Provisorische Kronen und Bruecken'">
        <!-- Provisional Crowns and Bridges -->
        <img class="icon-card" src="../../../assets/svg/Krone.svg">
      </div>
      <div *ngSwitchCase="'Zaehne'">
        <!-- Testeneers -->
        <img class="icon-card" src="../../../assets/svg/Zahn.svg">
      </div>
      <div *ngSwitchDefault>
        NP
      </div>
    </div>
    
    <!-- Order ID fünfstellig mit führede Nullen machen-->
    <h1 id="order-heading">#{{ order.orderId }}</h1>
    <div class="order-card-text">{{ order.creationDate }}</div>
    <img class="drag-n-drop" src="../../../assets/svg/drag-drop.svg" />
  </div>
</div>
