<div id="flex-container">
  <div *ngIf="!bearbeitenAktiv">
    <h1>{{ data.item.title }} </h1>

    <img src="{{videoURL}}" />

    <div class="text">
      {{ data.item.content }}
    </div>
  </div>
  <div class="text" *ngIf="bearbeitenAktiv">
    <h1><textarea cols="51" rows="2" style="resize:none;">{{data.item.title}}</textarea></h1>
    <!-- <img src="{{videoURL}}" /> -->

    <textarea cols="90" rows="8" style="resize:none;" [(ngModel)]="data.item.content">
  {{ data.item.content }}
</textarea>

  </div>
  <div>

    <button class="button-first" (click)="saveButton()" *ngIf="bearbeitenAktiv">speichern</button>
    <button class="button-first" (click)="bearbeitenButton()" *ngIf="!bearbeitenAktiv">bearbeiten</button>
    <button class="button-sec" (click)="onBreakButton()">schließen</button>
  </div>
</div>