<div id="flex-container">
  <div *ngIf="!bearbeitenAktiv">
    {{subtopicTitel}}
    <img src="{{videoURL}}" />

    <div id="text">
      {{ subtopicContent }}
    </div>
  </div>
  <div id="text" *ngIf="bearbeitenAktiv">
    <h1><textarea cols="51" rows="2" style="resize:none;">Hier kann IHR FAQ stehen!</textarea></h1>
    <img src="{{videoURL}}" />

    <textarea cols="90" rows="8" style="resize:none;" [(ngModel)]="subtopicContent">
  {{ subtopicContent }}
</textarea>

  </div>
  <div>
    <button (click)="onBreakButton()">Schließen</button>
    <button (click)="saveButton()" *ngIf="bearbeitenAktiv">Speichern</button>
    <button (click)="bearbeitenButton()" *ngIf="!bearbeitenAktiv">bearbeiten</button>
  </div>
</div>