<form [formGroup]="newPrinterForm">
  <div class="page-container">
    <h1>
      Gruppe drucken
    </h1>
    <h3>
      Dateien vorbereiten
    </h3>
    <div class="fileinputs">
      <div class="fakefile">
        <input
          placeholder="Skin-Datei herunterladen"
          class="fileinputs"
          formControlName="hochladen"
          #fileInputSkin
          type="file"
        />
        <div class="file-input-symbole" (click)="downloadSkin()">Herunterladen</div>
      </div>
    </div>
    <br />
    <div class="fileinputs">
      <div class="fakefile">
        <input
          placeholder="Solid-Datei hochladen"
          class="fileinputs"
          formControlName="herunterladen"
          #fileInputSolid
          type="file"
        />
        <div class="file-input-symbole" (click)="uploadSolid()">Hochladen</div>
      </div>
    </div>
    <div>
      <h3>Drucker</h3>
      <div>
        <select formControlName="drucker" class="drucker">
          <option
            *ngFor="let printer of printerData"
            value="{{ printer.name }}"
          >
            {{ printer.name }}
          </option>
        </select>
      </div>
    </div>
    <br />
    <h3>Benachrichtigung</h3>
    <mat-form-field style="width: 472px">
      <input
        matInput
        type="text"
        placeholder="E-Mail Adresse hinterlegen"
        formControlName="EMail"
      />
    </mat-form-field>
    <div>
      Du bekommst eine Benachrichtigung per Mail geschickt, sobald die Gruppe
      fertig gedruckt ist, oder falls ein Problem mit dem Druck auftauchen
      sollte.
    </div>
    <div>
      <mat-dialog-actions>
        <button
          mat-button
          [mat-dialog-close]="newFaqForm"
          (click)="onPrintButton()"
        >
          drucken
        </button>
        <button mat-button (click)="onBreakButton()">
          Abbrechen
        </button>
      </mat-dialog-actions>
    </div>
  </div>
</form>
