<form [formGroup]="deleteCustomer">
  <div class="page-container">
    <h1 id="heading"> Kunde löschen </h1>

    <!-- <mat-form-field>
      <input matInput formControlName="customerDelete" value="{{ data.customer_id}}" placeholder="Kunde eingeben">
    </mat-form-field> -->
    <mat-select formControlName="customerDelete" placeholder="Kunde auswählen" class=" rechteck-eingabe">
      <mat-option *ngFor="let doctor of customerData" value="{{ doctor.customer_id }}">{{ doctor.name }}
      </mat-option>
    </mat-select>

    <mat-dialog-actions style="align-self: flex-end; float: right">
      <button class="break-button" mat-button (click)="onBreakButton()">
        <h1 style="font-size: 14px; padding-top: 5px">Abbrechen</h1></button>
      <button class="send-button" mat-button [mat-dialog-close]="" (click)="onSaveButton()">
        <h1 style="font-size: 14px; padding-top: 5px">Anwenden</h1></button>
    </mat-dialog-actions>
  </div>
</form>