<div class="page-container">
  <form [formGroup]="newPrinterForm">

    <h4>Name:


      <mat-form-field class="example-full-width">
        <input matInput #message formControlName="neuerDruckerName" maxlength="256" [(ngModel)]="Printer.newPrinter">
        <mat-hint style="align-self: flex-end">{{message.value.length}} / 256</mat-hint>
      </mat-form-field>
      <br><button mat-raised-button color="primary" [mat-dialog-close]="Printer.newPrinter" (click)="testClick()">
        Speichern
      </button>
      <button mat-raised-button color="warn" (click)="abbruchClick()">
        Abbrechen
      </button>
    </h4>






  </form>
</div>