.page-container {
    display: flex;
    width: 750px;
    height: 470px;
    flex-direction: column;
    background-color: transparent;
  }
  .container{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -15px;
  }
  .heading{
    object-fit: contain;
    font-family: "Segoe UI";
    font-size: 20px;
    font-weight: bold;
    /* text-align: center; */
    text-align: left;
    color: #272f33;
  }
  .sub-heading{
    object-fit: contain;
    font-family: "Segoe UI";
    font-size: 15px;
    font-weight: bold;
    /* text-align: center; */
    text-align: left;
    color: #272f33;
  }
  
  .file{
      position: relative;
      text-align: right;
      opacity: 0;
      z-index: 2;
  }
  .drucker{
    width: 350px;
    height: auto;
    object-fit: contain;
    background-color: #ffffff;
    border-radius: 4px;
    border: solid 1px #62c6d6;
  }
  
  
  .inputfile{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    font-style: normal;
    font-family: "Segoe UI";
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  label{
    width: 350px;
    color: white;
    font-family: "Segoe UI";
    justify-items: center;
    align-items: center;
    background-color: #62c6d6;
    border-radius: 4px;
    z-index: 0;
  }
  .inputfile  {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    font-style: normal;
    font-family: "Segoe UI";
    overflow: hidden;
    position: absolute;
    z-index: -1;
    border-radius: 4px;
    background-color: #62c6d6;
    display: inline-block;
  }
  label:hover {
    cursor: pointer;
  }
  
  ::placeholder{
    font-style: italic;
    color: #62c6d6;
    padding-left: 5px;
  }
  .icon{
    width: 10px;
    margin-left: -325px;
    z-index: 10;
  }
  .send-button {
    width: 149px;
    height: 38px;
    color: white;
    object-fit: contain;
    border: solid 1px #62c6d6;
    background-color: #62c6d6;
  }
  
  .break-button{
    width: 149px;
    height: 38px;
    object-fit: contain;
    border: solid 1px #62c6d6;
    color: #62c6d6;
    background-color: #ffffff;
  }
  ::placeholder{
    font-style: italic;
    color: #62c6d6;
  }
  