<div class="page-container">
  <div class="half-container">
    <div> <b class="ueberschriften"> Nachbereitung ausstehend </b>
      <a (click)="help()" class="ueberschriften1" >Hilfe zur Nachbereitung findest du hier </a>
      <!-- <button class="button-style" (click)="resetOrderFilter()">Reset</button> -->
      <button class="button-style" (click)="openPostProcessing()">
        Filter </button>
    </div>
    <!-- with filter -->
    <div class="cards">
      <app-order-card *ngFor="let orderCard of filteredUngroupedOrders" [order]="orderCard">
      </app-order-card>
    </div>
    <!-- no filter -->
    <!-- <div class="cards">
      <app-order-card
      *ngFor="let orderCard of allUngroupedOrders"
      [order]="orderCard">
    </app-order-card>     
    </div>  -->
  </div>
  <div class="half-container">
    <div class="ueberschriften"> Abgeschlossene Aufträge</div>
    <button class="button-style" (click)="openFinishedFilter()">
        Filter </button>
    <div class="cards">
      <app-order-card *ngFor="let orderCard of allReadyOrders" [order]="orderCard">
      </app-order-card>
    </div>
  </div>
</div>
