.page-container {
  display: flex;
  flex-direction: column;
}

.half-container {
  max-height: 45vh;
  min-height: 45vh;
  overflow: auto;
  margin: 2px;
  object-fit: contain;
  /* box-shadow: 4px 4px 6px 0 rgba(39, 47, 51, 0.25); */
}

.hilfe-nachbereitung {
  /* width: 274px; */
  height: 21px;
  object-fit: contain;
  font-family: SegoeUI;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: center;
  color: #272f33;
}
.ueberschriften {
  /* width: 328px; */
  height: 35px;
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: #272f33;
}
.ueberschriften1 {
  /* width: 328px; */
  height: 35px;
  object-fit: contain;
  font-family: SegoeUI;
  font-size: 16px;
  /* font-weight: bold; */
  /* font-style: normal; */
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: left;
  color: #272f33;
}
.cards {
  display: flex;
  flex-wrap: wrap;
}
.filter-box {
  width: 149px;
  height: 38px;
  border: solid 1px #62c6d6;
  background-color: #ffffff;
}
.button-style {
  float: right;
  font-family: "Segoe UI";
  width: 130px;
  height: 30px;
  margin: 2px;
  object-fit: contain;
  border-radius: 4px;
  color: #62c6d6;
  border: solid 1px #62c6d6;
  background-color: white;
}
.button-style:hover {
  background-color: #62c6d6;
  color: white;
  border: transparent;
}
.button-style-group {
  float: right;
  font-family: "Segoe UI";
  width: 100px;
  height: 30px;
  margin: 2px;
  padding-top: 5px;
  object-fit: contain;
  border-radius: 3px;
  border: solid 1px #62c6d6;
  background-color: white;
  color: #62c6d6;
  text-align: center;
  font-size: 12px;
  margin-top: -5px;
}
.button-style-group:hover {
  background-color: #272f33;
  color: white;
  border: transparent;
  cursor: pointer;
}
