<div class="page-container">
  <div class="half-container">
    <div class="ueberschriften"> Nachbereitung ausstehend
      Hilfe zur Nachbereitung findest du hier
    </div>
    <div class="filter-box">
      <div class="filter">Filter</div>
    </div>
    <div class="cards">
      <!-- <app-order-card></app-order-card>
      <app-order-card></app-order-card>
      <app-order-card></app-order-card> -->
    </div>



  </div>
  <div class="half-container">
    <div class="ueberschriften"> Abgeschlossene Aufträge</div>
    <div class="cards">
      <!-- <app-order-card></app-order-card>
      <app-order-card></app-order-card>
      <app-order-card></app-order-card> -->

    </div>
  </div>







</div>