<form [formGroup]="alterResin">
  <div class="page-container">
    <h1 id="heading"> Harz bearbeiten </h1>

    <div>
      <mat-select formControlName="resinAltered" placeholder="Harz auswählen" class=" rechteck-eingabe">
        <mat-option *ngFor="let resin of harzList" value="{{ resin.resin_name }}">{{ resin.resin_name }}
        </mat-option>
      </mat-select>
    </div>
    <div>
    <mat-form-field style="width: 380px;">
      <input matInput formControlName="resingNew" placeholder="Neuen Harzfarbenamen eingeben">
    </mat-form-field>
    </div>
    <div>
    <mat-form-field style="width: 350px;">
      <input type="color" value="#FFFFFF" matInput formControlName="color" placeholder="Harzfarbe auswählen">
    </mat-form-field>
    </div>
    <mat-dialog-actions style="align-self: flex-end; float: right">
      <button class="break-button" mat-button (click)="onBreakButton()">
        <h1 style="font-size: 14px; padding-top: 5px">Abbrechen</h1></button>
      <button class="send-button" mat-button [mat-dialog-close]="" (click)="onSaveButton()">
        <h1 style="font-size: 14px; padding-top: 5px">Anwenden</h1></button>
    </mat-dialog-actions>
  </div>
</form>