#container{
 /* background-image: linear-gradient(to bottom, #bef0e8, #62c6d6); */
  height: 50vh;
  width: 50vh; 
  max-width: auto;
  max-height: auto;
  text-align: center;
  display: flex;
  flex-direction:row;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;

}

#heading{
  font-family: "SegoeUI";
  font-size: 70px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.34;
  letter-spacing: normal;
  text-align: center;
  color: #272f33;
  }

  #textToLogin{
    object-fit: contain;
    font-family: "SegoeUI";
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: center;
    color: #272f33;
  }

  #toLogin{
  
    object-fit: contain;
    font-family: "SegoeUI";
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: center;
    color: #272f33;
    border-radius: 4px;
    border: solid 1px #272f33;
  }