.page-container {
  display: flex;
  /* justify-content: space-between; */
}

.order-titel {
  display: flex;
  justify-content: space-between;
}

#left-row {
  display: flex;
  flex-direction: column;
  /* width: 75vh; */
  background-color: #0faccb;
}

#right-row {
  display: flex;
  flex-direction: column;
  /* width: 75vh; */
  object-fit: contain;
  background-color: #6e3b4f;
}

.order-type {
  display: flex;
  /* width: 50vh; */
}
