<form [formGroup]="newOrderForm">
  <div class="page-container">

    <div class="a">
      <h1 class="heading"*ngIf="!data.customer">Neuen Auftrag erstellen</h1>
      <h1 class="heading" *ngIf="data.customer">Auftrag: #{{data.orderId}}</h1>
    </div>
    <div class="small-bar-left"></div>
    <br>

    <div>
      <h1 class="title">Patient/Titel</h1>
      <mat-form-field class="example-full-width">
        <textarea matInput formControlName="patient"></textarea>
      </mat-form-field>
    </div>
    <br>
    <div>
      <h1 class ="title"> Fälligkeit </h1>
      <input class=" rechteck-eingabe" [matDatepicker]="searchDate" formControlName="dueDate"
        placeholder="Fälligkeitsdatum auswählen" />
      <mat-datepicker-toggle matSuffix [for]="searchDate"></mat-datepicker-toggle>
      <mat-datepicker #searchDate></mat-datepicker>
    </div>

    <br>

    <div>
      <h1 class ="title">Harzfarbe</h1>
      <mat-select formControlName="harz" placeholder="Harzfarbe auswählen" class=" rechteck-eingabe">
        <mat-option *ngFor="let harzfarbe of harzList" value="{{harzfarbe.resin_name}}">{{ harzfarbe.resin_name }}
        </mat-option>
      </mat-select>
    </div>

    <br>

    <div>
      <h1 class ="title"> Kategorie </h1>
      <mat-select formControlName="dentalPrintType" placeholder="Kategorie auswählen" class=" rechteck-eingabe">
        <mat-option *ngFor="let oneCategory of categoryData" value="{{oneCategory.category_name}}">
          {{ oneCategory.category_name }}
        </mat-option>
      </mat-select>
    </div>

    <br>

    <div>
      <h1 class ="title">Sonstige Informationen</h1>
      <textarea class=" rechteck-eingabe" formControlName="comment" rows="4"
        style="resize:none; width: 250px;height: auto" placeholder="Anmerkung"></textarea>
    </div>

    <div style="align-self: flex-end">
      <mat-dialog-actions>
        <button class="break-button" mat-button (click)="onQuit()">
          abbrechen
        </button>
        <button class="send-button" mat-button [mat-dialog-close]="newOrderForm">
          erstellen
        </button>
      </mat-dialog-actions>
    </div>

  </div>

</form>


<!-- MS- Als BackUp noch gesichter nachher löschen!! -->
<!-- <div id="left-row"> -->
<!-- Wird vom Backend automatisch hochgezählt -->
<!-- OrderId notwendig -->
<!-- <div class="order-titel">
        <mat-form-field>
          <input
            class=" rechteck-eingabe"
            matInput
            type="number"
            formControlName="orderId"
            placeholder="OrderId"
          />
        </mat-form-field> -->
<!-- Nach neuen Designangaben fällt dies raus -->
<!-- <mat-form-field>
          <input
            class=" rechteck-eingabe"
            matInput
            type="number"
            formControlName="groupId"
            placeholder="GroupId"
          />
        </mat-form-field> -->
<!-- </div> -->

<!-- 
    <div style="margin-top:auto">
      <div>Priorität</div>
      <mat-form-field>
        <input class=" rechteck-eingabe" matInput type="text" formControlName="priority" placeholder="Priorität" />
      </mat-form-field>
    </div> -->
<!-- <div>
        <mat-form-field>
          <input
            class=" rechteck-eingabe"
            matInput
            type="text"
            formControlName="dentalPrintType"
            placeholder="dentalPrintType"
          /> -->
<!-- <mat-select formControlName="dentalPrintType" placeholder="dentalPrintType">
              <mat-option *ngFor="let category of orderCategories" [value]="category">{{ category }}
              </mat-option>
            </mat-select> -->
<!-- </mat-form-field>
      </div> -->
<!-- Nach neuen Designangaben fällt dies raus -->
<!-- <div>
        <mat-form-field>
          <input
            class=" rechteck-eingabe"
            matInput
            type="text"
            formControlName="laboratory"
            placeholder="Labor"
          />
          <mat-select formControlName="laboratory" placeholder="laboratory">
              <mat-option *ngFor="let docs of docName" [value]="docs">{{ docs }}
              </mat-option>
            </mat-select>
        </mat-form-field>
      </div> -->



<!-- <div id="right-row">
     
        <input formControleName="dueDate" readonly>
         erstellt am: {{ newDate.getMonth() + 1 }}/{{ newDate.getDate() }}/{{
           newDate.getFullYear()
         }}
         erstellt am: {{newDate | date:"mediumDate"}} -->









<!-- <div>
        <mat-form-field>
          <mat-label>Harz</mat-label>
          <select matNativeControl required formControlName="harz">
            <option
              *ngFor="let harz of harzList"
              value="{{ harz.resin_name }}"
              >{{ harz.resin_name }}</option
            >
          </select>
        </mat-form-field>
      </div> -->
<!-- <div>
        <mat-form-field>
          <input
            class=" rechteck-eingabe"
            matInput
            type="text"
            formControlName="customer"
            placeholder="Customer"
          />
        </mat-form-field>
      </div> -->
<!-- 
      <div class="order-titel">
        <mat-form-field class="order-type"> -->
<!-- <input
          class=" rechteck-eingabe"
          type="file"
          #fileInput
          formControlName="fileScan"
          placeholder="Scan"
        />
        </mat-form-field>
        <button md-raised-button color="primary" (click)="fileInput.click()">
          Skin
        </button>
      </div>
      <div class="order-titel">
        <mat-form-field class="order-type">
        <input
          class=" rechteck-eingabe"
          matInput
          type="text"
          formControlName="fileSolid"
          placeholder="Solid"
        />
        </mat-form-field>
        <button>Solid</button>
      </div> -->
