<form [formGroup]="newOrderForm">
  <div class="page-container" style="width: 150vh; height: 80vh;">
    <div id="Spalte-Links">
      <h3> Neuen Auftrag anlegen</h3>
      <div id="ordertitel">
        <mat-form-field>
          <input matInput type="text" formControlName="auftragsTitel">
        </mat-form-field>

        <mat-form-field>
          <input matInput type="number" formControlName="auftragsNummer">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-select formControlName="kategorie">
            <mat-option *ngFor="let category of orderCategories" [value]="category">{{category}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-select formControlName="praxisName">
            <mat-option *ngFor="let docs of docName" [value]="docs">{{docs}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div style="margin-top:auto">
        <mat-form-field>
          <mat-select formControlName="prioritaet">
            <mat-option *ngFor="let prio of priority" [value]="prio">{{prio}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <textarea formControlName="kommentar" cols="75" rows="4" style="resize:none"></textarea>


    </div>
    <div id="Spalte-Rechts">
      <!-- <div formControlName="erstellt_am">
        erstellt am: {{(newDate.getMonth()+1)}}/{{newDate.getDate()}}/{{newDate.getFullYear()}}
      </div>

      <div formControlName="faellig_am">fällig am:
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>  -->
      <div>
        <mat-form-field>
          <input matInput type="text" formControlName="namePatient">
        </mat-form-field>
      </div>

      <div class="ordertitel">
        <mat-form-field class="ordertypes">
          <input matInput type="text" formControlName="orderTypes">
        </mat-form-field>
      </div>

      <!-- 
      <div class="ordertitel">
        
        <input type="file" placeholder="Upload file">
      </div> -->

      <div style="align-self: flex-end">
        <mat-dialog-actions>
          <!-- Formular muss angezeigt werden in den Aufträgen -->
          <!-- <button mat-button [mat-dialog-close]="newOrderForm" cdkFocusInitial>anlegen</button> -->
          <button mat-button (click)="onClick()">JSON anzeigen</button>
          <button mat-button (click)="onNoClick()">abbrechen</button>
        </mat-dialog-actions>
      </div>
    </div>


    <p>
      {{newOrderForm.value | json}}
    </p>

  </div>
</form>

