.page-container{
  display: flex;
  flex-direction: column
}
.harz-container {
  display: flex;
}

.heading{
  object-fit: contain;
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: bold;
  /* text-align: center; */
  text-align: left;
  color: #272f33;
}
.title{
  font-family: "Segoe UI";
  font-weight: bold;
  font-size: 14px;
}
.send-button {
  border-radius: 4px;
  width: 149px;
  height: 38px;
  color: white;
  object-fit: contain;
  border: solid 1px #62c6d6;
  background-color: #62c6d6;
  margin: 2px;
}

.break-button{
  margin: 2px;
  border-radius: 4px;
  width: 149px;
  height: 38px;
  object-fit: contain;
  border: solid 1px #62c6d6;
  color: #62c6d6;
  background-color: #ffffff;
}
.boxen{
  width: 350px;
  height: auto;
  object-fit: contain;
  border-radius: 4px;
  border: solid 1px #62c6d6;
  background-color: #ffffff;
}
#boxenPrio{
  width: 149px;
  height: auto;
  object-fit: contain;
  border: solid 1px #62c6d6;
  background-color: #ffffff;
}
.prio{
  display: flex;
  justify-content: space-between
}
.schrift_boxen{
  width: 50px;
  height: 21px;
  object-fit: contain;
  font-family: SegoeUI;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: center;
  color: #62c6d6;
}
