<form [formGroup]="filterParamForm" class="page-container">

  <h3 class="heading">Filteroptionen</h3>

  <!-- Wird gebraucht, wenn Backend komplett steht -->
  <div class="harz-container">
    <div *ngFor="let harz of harzList">
      <input type="radio" id="{{ harz.resin_name }}" name="resin_name" value="{{ harz.resin_name }}" formControlName="resin_name" />
      <label for="{{ harz.resin_name }}">{{ harz.resin_name }}</label>
    </div>
  </div>

<div >
  <h4 class="title">Fällig am:</h4>
  <mat-form-field style="width: 350px">
    <input matInput [matDatepicker]="pickerStart" placeholder="Choose a date" formControlName="dueDateStart"
      class="boxen" style="border: transparent"/>
    <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
    <mat-datepicker #pickerStart></mat-datepicker>
  </mat-form-field>
</div>

  <div >
  <mat-form-field style="width: 350px">
    <input matInput [matDatepicker]="pickerEnd" placeholder="Choose a date" formControlName="dueDateEnd"
      class="boxen" style="border: transparent" />
    <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
    <mat-datepicker #pickerEnd></mat-datepicker>
  </mat-form-field>
  </div>

  <div>
    <h4 class="title"> Kategorie </h4>
    <mat-select matNativeControl required formControlName="dental_print_type" placeholder="Kategorie auswählen" class="boxen">
      <mat-option *ngFor="let oneCategory of categoryData" value="{{oneCategory.category_name}}">
        {{ oneCategory.category_name }}
      </mat-option>
    </mat-select>
  </div>
  <h4 class="title">Priorität:</h4>
  <div class="prio" required>
  <input type="radio" id="niedrig" name="priority" value="niedrig" formControlName="priority" class="boxenPrio" />
  <label for="niedrig" class="schrift_boxen">niedrig</label>
  <input type="radio" id="mittel" name="priority" value="mittel" formControlName="priority" class="boxenPrio" />
  <label for="mittel" class="schrift_boxen">mittel</label>
  <input type="radio" id="hoch" name="priority" value="hoch" formControlName="priority" class="boxenPrio" />
  <label for="hoch" class="schrift_boxen">hoch</label>
    <!-- <div id="boxenPrio" class="schrift_boxen" (click)="onClick()"> niedrig</div>
    <div id="boxenPrio" class="schrift_boxen" (click)="onClick()"> mittel </div>
    <div id="boxenPrio" class="schrift_boxen" (click)="onClick()"> hoch </div> -->
  </div>
  <h4 class="title">Kunde:</h4>
  <mat-form-field>
    <mat-label>Kunde</mat-label>
    <select matNativeControl required formControlName="customer_id" class="boxen">
      <option *ngFor="let customer of customerData" value="{{ customer.customer_id }}">
        {{ customer.name }}
      </option>
    </select>
  </mat-form-field>
</form>
<div style="float: right">
  <button class="send-button" (click)="saveInFilterFormate()" filterbuttonGroups>anwenden</button>
  <button class="break-button" (click)="onNoClick()" filterbuttonGroups>abbrechen</button>
</div>
