.page-container{
    display: flex;
    flex-direction: column;
    width: 730px;
    height: 530px;
}
#heading{
    object-fit: contain;
    font-family: "Segoe UI";
    font-size: 20px;
    font-weight: bold;
    /* text-align: center; */
    text-align: left;
    color: #272f33;
    margin-bottom: 20px;
}
.plz-stadt{
    display: flex;
}

.break-button{
    width: 149px;
    height: 38px;
    object-fit: contain;
    border: solid 1px #62c6d6;
    color: #62c6d6;
    background-color: #ffffff;
  }

  .save-button {
    width: 149px;
    height: 38px;
    color: white;
    object-fit: contain;
    border: solid 1px #62c6d6;
    background-color: #62c6d6;
  }
