<form [formGroup]="alterCategory">
  <div class="page-container">
    <h1 id="heading"> Kategorie bearbeiten </h1>
    <div>
      <mat-select formControlName="categoryAltered" placeholder="Kategorie auswählen" class=" rechteck-eingabe">
        <mat-option *ngFor="let kategorie of categoryData" value="{{ kategorie.model_type_name }}">
          {{ kategorie.model_type_name }}
        </mat-option>
      </mat-select>
    </div>
    <div>
      <mat-form-field style="width: 350px;">
        <input matInput formControlName="categoryNew" placeholder="Neuen Kategorienamen eingeben">
      </mat-form-field>
    </div>
    <mat-dialog-actions style="align-self: flex-end; float: right">
      <button class="break-button" mat-button (click)="onBreakButton()">
        <h1 style="font-size: 14px; padding-top: 5px">Abbrechen</h1></button>
      <button class="send-button" mat-button [mat-dialog-close]="" (click)="onSaveButton()">
        <h1 style="font-size: 14px; padding-top: 5px">Anwenden</h1></button>
    </mat-dialog-actions>
  </div>
</form>