<div class="flex-container">
  <!-- Left sidebar -->

  <div class="small-bar-left"></div>

  <div id="left-row" [ngClass]="ref.click === true ? 'toggled' : ''">
    <div class="small-bar-left"></div>
    <button
      appSidebar
      #ref="appSidebar"
      type="button"
      id="expand-collapse-left"
      data-toggle="offcanvas"
    >
      >
    </button>

    <div style="margin-bottom: auto">
      <div>
        <nav
          routerLink="order"
          class="button-style"
          id="order-overview"
          (click)="onMenuItem('auftragsuebersicht')"
          [class.button-style-focus]="menuItems.auftragsuebersicht"
        >
          <a class="transparent">Auftragsübersicht</a>
        </nav>
      </div>

      <div>
        <nav
          routerLink="printedorders"
          class="button-style"
          id="printed-orders"
          (click)="onMenuItem('gedruckte_auftraege')"
          [class.button-style-focus]="menuItems.gedruckte_auftraege"
        >
          <a class="transparent">Gedruckte Aufträge</a>
        </nav>
      </div>

      <div>
        <nav
          routerLink="printer"
          class="button-style"
          id="printer-management"
          (click)="onMenuItem('druckerverwaltung')"
          [class.button-style-focus]="menuItems.druckerverwaltung"
        >
          <a class="transparent">Druckerverwaltung</a>
        </nav>
      </div>
    </div>

    <div style="margin-top: auto">
      <nav
        routerLink="hilfestellung"
        class="button-style"
        id="help"
        (click)="onMenuItem('hilfestellung')"
        [class.button-style-focus]="menuItems.hilfestellung"
      >
        <a class="transparent"></a>Hilfestellung
      </nav>
    </div>
    <div>
      <nav
        routerLink="einstellungen"
        class="button-style"
        id="settings"
        (click)="onMenuItem('einstellung')"
        [class.button-style-focus]="menuItems.einstellung"
      >
        <a class="transparent"></a>Verwaltung
      </nav>
    </div>
    <div>
      <nav
        routerLink="logout"
        class="button-style"
        id="logout"
        (click)="logout()"
      >
        <a class="transparent"></a>Logout
      </nav>
    </div>
  </div>
  <!-- Middle Bar -->
  <div class="center-row">
    <nav class="nav" id="page-header">
      <app-search-bar></app-search-bar>
      <div class="poms" style="text-align: center; margin-left: 200px;  ">
        P O M S
      </div>
      <div
        style="padding-top: 3px; padding-right: 10px"
        href="#"
        (click)="openDialogCreateNewOrder()"
      >
        <div style="padding-top: 2px; padding-right: 200px" href="#">
          <div id="new-assignment-box">
            <p
              style="color: #ffffff; font-family: 'Segoe UI'; font-size:12px;margin-left: 30px;
              margin-right: 30px;"
            >
              + Neuen Auftrag anlegen
            </p>
          </div>
        </div>
      </div>
    </nav>
    <div style="flex-grow: 1">
      <ng-content></ng-content>
    </div>
  </div>

  <!-- Right sidebar -->
  <div id="right-row">
    <p id="print-progress">Druckfortschritt</p>
    <div *ngFor="let printer of printerData">
      <div *ngIf="(printer.printer$ | async)?.offline == 0">
        <div *ngIf="(printer.printer$ | async)?.is_printing == 1">
          <!-- Paused printer-->
          <div *ngIf="(printer.printer$ | async)?.paused == 1">
            <p class="printer-prints-group-text" style="margin-bottom: 10px">
              <b>Drucker {{ (printer.printer$ | async)?.printer_id }}</b> druckt
              <b>Gruppe {{ (printer.printer$ | async)?.assigned_group_id }}</b>
            </p>
            <div class="progressbar">
              <mat-progress-bar
                [value]="(printer.printer$ | async)?.progress * 100"
                color="warn"
              >
              </mat-progress-bar>
              <img
                width="20px"
                height="20px"
                src="../../../assets/svg/warning.svg"
              />
            </div>
            <div class="info-print-heading-paused">
                <p>
                  Druck unterbrochen {{ (printer.printer$ | async)?.progress | percent}}
                </p>
                <div>
                  {{ (printer.printer$ | async)?.estimated_time_remaining | estimatedTime}}
                </div>
              </div>
          </div>
          <!-- Not paused printer-->
          <div *ngIf="(printer.printer$ | async)?.paused != 1">
            <p class="printer-prints-group-text">
              <b>Drucker {{ (printer.printer$ | async)?.printer_id }}</b> druckt
              <b>Gruppe {{ (printer.printer$ | async)?.assigned_group_id }}</b>
            </p>
            <div class="progressbar">
              <mat-progress-bar
                [value]="(printer.printer$ | async)?.progress * 100"
              >
              </mat-progress-bar>
              <img
                width="10px"
                height="10px"
                src="../../../assets/svg/pause.svg"
              />
              <img
                width="10px"
                height="10px"
                src="../../../assets/fonts/abbrechen.svg"
              />
            </div>
            <div class="info-print-heading">
              <p>
                Druckfortschritt bei {{ (printer.printer$ | async)?.progress| percent}}
              </p>
              <p>
                {{ (printer.printer$ | async)?.estimated_time_remaining | estimatedTime}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
