.flex-container {
  height: auto;
  border-style: none;
  display: flex;
  justify-content: space-between;
}
.body{
  background-color: red;
}
#left-row {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 50px;
  background-color: #f6f6f6;
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding-left: 10px;
}

#left-row.toggled {
  padding-right: 190px;
}

.small-bar-left {
  width: 10px;
  height: auto;
  object-fit: contain;
  padding-left: 10px;
  background-image: linear-gradient(to bottom, #bef0e8, #62c6d6);
  position: sticky;
  z-index: -4;
}

body {
  background-color: #f6f6f6;
}

#expand-collapse-left {
  background-image: url("../../../assets/svg/menue-right.svg");
  background-size: 25px;
  background-position: 14px center;
  width: 200px;
  height: 75px;
  text-indent: -9999px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  margin-left: -10px;
}

.button-style {
  background-position: 14px center;
  left: 0;
  width: 270px;
  height: auto;
  padding-top: 10px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;

  object-fit: contain;
  font-family: "Segoe UI";
  font-weight: normal;
  line-height: 1.33;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;

  border-left: 10px solid transparent;
  font-size: 14px;
  color: #272f33;
  margin-left: -20px;
  z-index: 1;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button-style-focus {
  font-family: "Segoe UI";
  font-weight: bold;
  border-left: 10px solid #003549;
}
.button-style:hover {
  cursor: pointer;
}

#order-overview {
  background-image: url("../../../assets/svg/auftraguebersicht.svg");
  background-size: 22px;
}

#printed-orders {
  background-image: url("../../../assets/svg/gedruckt-auftreage.svg");
  background-size: 22px;
}

#printer-management {
  background-image: url("../../../assets/svg/printer.svg");
  background-size: 22px;
}
.transparent {
  padding-left: 20%;
}

#help {
  background-image: url("../../../assets/svg/Button_Hilfestellung.svg");
  background-size: auto 90%;
}
#settings {
  background-image: url("../../../assets/svg/einstellung.svg");
  background-size: 25px;
}
#logout{
  background-image: url("../../../assets/svg/Logout.svg");
  background-size: 25px;
}

#right-row {
  width: 210px;
  height: 100vh;
  overflow: auto;
  object-fit: contain;
  background-color: #f6f6f6;
  max-width: 210px;
  min-width: 210px;

}

#page-header {
  height: 30px;
  object-fit: contain;
  opacity: 0.99;
  background-color: #1f282c;
  display: flex;
  justify-content: space-between;
}

.center-row {
  flex-grow: 2;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

/* #search-input {
  background-color: white;
  border: transparent;
  border-radius: 2px;
  color: #272f33;
  position: absolute;
  height: 20px;
  width: 200px;
  justify-content: left;
  margin-top: -24px;
  z-index: -1;
}
befindet sich in eigener komponente
#such-balken input[type="search"] {
  padding-left: 25px;
  padding-top: 2px;
  font-style: italic;
  font-size: 10px;
} */

#new-assignment-box{
  position: absolute;
  width: 200px;
  height: 20px;
  background: #62c6d6;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  justify-content: right;
}
#new-assignment-box:hover{
  cursor: pointer;
}

.progressbar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-left: 5px;
  margin-right: 10px;
  margin-top: -10px;
}
.progressbar > * {
  margin-left: 5px;
}

#print-progress {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.35;
  text-align: left;
  padding-top: 40px;
  padding-bottom: 10px;
  border: transparent;
  border-bottom: solid 1px #a2a2a2;
  margin-left: 10px;
  margin-right: 10px;

}
.info-print-heading{
  font-family: "Segoe UI";
  font-size: 12px;
  border-bottom: solid 1px #a2a2a2;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 0px;
  font-style: italic;
  display: flex;
  justify-content: space-between;
}
.info-print-heading-paused{
  font-family: "Segoe UI";
  font-size: 12px;
  border-bottom: solid 1px #a2a2a2;
  margin-top: -4px;
  margin-left: 10px;
  margin-right: 10px;
  font-style: italic;
  color: #cd0000;
  display: flex;
  justify-content: space-between;
}
#print-prozess-info{
  font-family: "Segoe UI";
  font-style: italic;
  font-size: 12px;
  padding-left: 10px;
  padding-top: 2px;
}

.poms{
  width: 105px;
  height: 40px;
  object-fit: contain;
  font-family: "Segoe UI";
  font-size: 25px;
  margin-top: 4px;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  font-weight: bold;
  color: #62c6d6;
}

.printer-prints-group-text {
  margin-top: 4px;
  padding-left: 10px;
  font-family: "Segoe UI";
  font-size: 12px;
  text-align: left;
  color: #272f33;
}
