.page-container {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
 
}
.status-card-container {
  display: flex;
  flex-direction: column;
  padding: 5vh;
  width: 250px;
  height: 120px;
  object-fit: contain;
  box-shadow: 2px 2px 8px 0 rgba(39, 47, 51, 0.25);
  background-color: #ffffff;
  margin: 5px;
  overflow: hidden;
  
}

.card-title {
  width: 191px;
  height: 24px;
  object-fit: contain;
  font-family: SegoeUI;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #272f33;
}