<div class="page-container">
  <div class="half-container">
    <div class="card-title">
      Druckername:
      {{ printerName }}
    </div>
  </div>
  <div class="half-container">
    <div class="card-title">
      Status:
      {{ druckerStatus }}
    </div>
  </div>
  <div class="half-container">
    <div class="card-title">
      Füllstand:
    </div>
  </div>
  <div class="half-container">
    <div class="card-title">
      Druckfortschritt:
      <mat-progress-bar [value]="druckFortschritt"> </mat-progress-bar>
      {{ druckFortschritt }}
    </div>
  </div>
  <div class="half-container">
    <div class="card-title">
      restliche Druckzeit:
      {{ restlicheDruckzeit }}
    </div>
  </div>

  <div class="half-container">
    <div class="card-title">
      Druck gestartet:
      {{ printStart }}
    </div>
  </div>
</div>
