<div class="page-container">
  <div class="half-container">
    <div class="card-title">
      Druckername:
      {{ printerName }}
    </div>
  </div>
  <div class="half-container">
    <div class="card-title">
      Status:
      {{ printerStatus }}
    </div>
  </div>
  <div class="half-container">
    <div class="card-title">
      Füllstand: {{ printer.resin_volume}}
    </div>
  </div>
  <div class="half-container">
    <div class="card-title">
      Druckfortschritt:
      <mat-progress-bar [value]=printer.progress> </mat-progress-bar>
      {{ printer.progress | percent }}
    </div>
  </div>
  <div class="half-container">
    <div class="card-title">
      restliche Druckzeit:
      {{ restlicheDruckzeit }}
    </div>
  </div>

  <div class="half-container">
    <div class="card-title">
      Druck gestartet:
      {{ printStart }}
    </div>
  </div>
</div>
