<form [formGroup]="resinDelete">
    <div class="page-container">
      <h1 id="heading"> Harz löschen </h1>
  
      <!-- <mat-form-field>
        <input matInput formControlName="resinName" placeholder="Harzname eingeben">
      </mat-form-field> -->
      <mat-select formControlName="resinName" placeholder="Harz auswählen" class=" rechteck-eingabe">
        <mat-option *ngFor="let resin of harzList" value="{{ resin.resin_name }}">{{ resin.resin_name }}
        </mat-option>
      </mat-select>

      <mat-dialog-actions style="align-self: flex-end; float: right">
        <button class="break-button" mat-button (click)="onBreakButton()">
          <h1 style="font-size: 14px; padding-top: 5px">Abbrechen</h1></button>
        <button class="send-button" mat-button [mat-dialog-close]="" (click)="onSaveButton()">
          <h1 style="font-size: 14px; padding-top: 5px">Anwenden</h1></button>
      </mat-dialog-actions>
    </div>
  </form>