<div id="page-container">
  <h1 class="heading">Fehler! </h1>
 <br>       
 <h3 class="text">Der Auftrag kann nicht in der Gruppe zugewiesen werden,
   weil die Harzfarbe des Auftrags und der Gruppe
  nicht übereinstimmen.
</h3>
<br>
<h3 style="
  width: 280px;
  height: auto;
  font-style: normal;
  font-family: 'Segoe UI';
  font-size: 12px;
color: #272f33;">
    Bitte ordne den Auftrag einer anderen Gruppe zu.
</h3>

<button class="break-button"(click)="verstanden()">verstanden</button>
  </div>
