<div class="page-container">
  <div class="available-printer">Verfügbare Drucker</div>
  <div class="new-printer" (click)="openDialogPopUpDrucker()">
    <div class="add-new-printer">
      <h4><b>+</b> neuen Drucker hinzufügen</h4>
    </div>
  </div>
  <div class="half-container">
    <!-- Schleife und Ausgabe von den verfügbaren Druckern -->
    <mat-expansion-panel *ngFor="let printer of allPrinters">
      <mat-expansion-panel-header class="expand-collapse">
        <!-- Ausgabe von allen verfügbaren Druckern -->
        <mat-panel-title>
          <img
            height="35px"
            width="35px"
            src="../../../assets/svg/Pfad 141.svg"
            style="padding-left: 10px; height: 30px"
          />
          <div class="printer" >
            {{ printer.name }}
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <app-status style="overflow: auto" [printer]="printer"></app-status>
    </mat-expansion-panel>
    <div *ngIf="newPrinter">
      <div (click)="onPrinterClick(this)">
      Test Drucker
      </div>
    </div>
    <button (click)="startPrinter(23)">Druck Starten</button>
    <button (click)="stopPrinter(23)">Druck Stop</button>
    <button (click)="togglePrinter(23)">Pause toggeln</button>
  </div>
 

</div>
