.page-container{
    display: flex;
    flex-direction: column;
    height: auto;
}
.newPrinter{
    display: flex;
    /* width: auto; */
    align-items: center;
    /* border-style: dotted; */
    /* width: 1276px; */
    height: 60px;
    object-fit: contain;
    opacity: 0.5;
    /* border: solid 1px black; */
    border: dotted 1px black;
    
    /* #272f33; */
  
}
.drucker {
    /* width: 87px;
    height: 24px; */
    object-fit: contain;
    font-family: SegoeUI;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #272f33;
    
  }
   .neuen-Drucker-hinzufgen {
    /* width: 224px;
    height: 24px; */
    object-fit: contain;
    font-family: SegoeUI;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #272f33;
    /* color: red; */
  } 

  .verfuegbare-Drucker {
    /* width: 250px;
    height: 35px; */
    object-fit: contain;
    font-family: SegoeUI;
    font-size: 26px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: #272f33;
    margin: 20px;
  }
  

  .expand-Collapse {
    /* width: 1272px; */
    height: 60px;
    /* object-fit: contain; */
    box-shadow: 2px 2px 8px 0 rgba(39, 47, 51, 0.25);
    background-color: #ffffff;
  }


