.page-container {
  display: flex;
  flex-direction: column;
}

.new-printer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 98%;
  object-fit: contain;
  opacity: 0.5;
  background-color: #f6f6f6;
  border-radius: 4px;
  box-shadow: 2px 2px 8px 0 rgba(39, 47, 51, 0.25);
  margin-left: 8px;
}

#print-icon {
  fill: #62c6d6;
}

#print-icon path {
  fill: #62c6d6;
}

.printer {
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: bold;
  padding-left: 15px;
  align-self: center;
}

.add-new-printer {
  /* width: 224px;
    height: 24px; */
  object-fit: contain;
  font-family: "Segoe UI";
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #272f33;
  /* color: red; */
}

  .available-printer {
    font-family: "Segoe UI";
    font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: left;
  color: #272f33;
  padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* .expand-collapse {
  width: 1272px;
  height: 40px;
  width: auto;
  border-radius: 5px;
  padding-left: 2px;
  object-fit: contain;
  box-shadow: 2px 4px 8px 0 rgba(39, 47, 51, 0.25);
  background-color: #ffffff;
  border: #f3f3f3 0.02cm solid;
} */

.expand-collapse {
  flex-wrap: wrap;
  font-size: 8px;
  box-shadow: 2px 2px 8px 0 rgba(39, 47, 51, 0.25);
  margin: 5px;
}

#order-heading {
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: bold;
  position: relative;
  height: 30px;
  width: 100%;
}

.half-container {
  max-height: 1px;
  min-height:  70vh;
  width: 98.2%;
  overflow: auto;
  margin-left: 7px;
  margin-top: 7px;

}
