.page-container{
  display: flex;
  flex-direction: column;

}
.new-printer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 99%;
  object-fit: contain;
  opacity: 0.5;
  background-color: #f6f6f6;
  border-radius: 4px;
  box-shadow: 2px 2px 8px 0 rgba(39, 47, 51, 0.25);
  margin-left: 5px;
}
.printer {
    object-fit: contain;
    font-family: SegoeUI;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #272f33;
    
  }
   .add-new-printer {
    /* width: 224px;
    height: 24px; */
    object-fit: contain;
    font-family: SegoeUI;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;

    color: #272f33;
    /* color: red; */
  } 

  .available-printer {
    /* width: 250px;
    height: 35px; */
    object-fit: contain;
    font-family: SegoeUI;
    font-size: 26px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: #272f33;
    margin: 20px;
  }
  

  .expand-collapse {
    /* width: 1272px; */
    height: 60px;
    /* object-fit: contain; */
    box-shadow: 2px 2px 8px 0 rgba(39, 47, 51, 0.25);
    background-color: #ffffff;
  }
  .half-container {
    max-height: 1px;
    min-height: 390px;
    overflow: auto;
    margin: 5px;
    /* box-shadow: 4px 4px 6px 0 rgba(39, 47, 51, 0.25); */
  }
