<div class="page-container">
  <div class="available-printer">Druckerverwaltung</div>
  <div class="new-printer" (click)="openDialogNewDrucker()">
    <div class="add-new-printer">
      <h4><b>+</b> neuen Drucker hinzufügen</h4>
    </div>
  </div>
  <div class="half-container">
    <!-- Schleife und Ausgabe von den verfügbaren Druckern -->
    <mat-expansion-panel *ngFor="let printer of allPrinters" class="expand-collapse">
      <mat-expansion-panel-header>
        <!-- Ausgabe von allen verfügbaren Druckern -->
        <mat-panel-title id="order-heading">
          <img
            height="35px"
            width="35px"
            src="../../../assets/svg/Pfad 141.svg"
            style="padding-left: 10px; height: 30px"
          />
          <div class="printer" >
            {{ printer.name }}
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      
      <app-status style="overflow: auto" [printer]="printer"></app-status>
      <button (click)="deletePrinter()">Drucker löschen</button>
    </mat-expansion-panel>
    <button (click)="startPrinter(23)">Druck Starten</button>
    <button (click)="stopPrinter(23)">Druck Stop</button>
    <button (click)="togglePrinter(23)">Pause toggeln</button>
  </div>
 

</div>
