.page-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.half-container {
  max-height: 47.3vh;
  min-height: 47.3vh;
  border: transparent;
  border-bottom: solid 1px #a2a2a2;
  overflow: auto;
  object-fit: contain;
}
.half-half-container {
  display: flex;
  justify-content: space-between;
}
.draggable-card-container {
  display: flex;
  background-color: white;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-top: 20px;
  cursor: grab;
}
.draggable-card-container:active {
  cursor: grabbing;
}

.expand-collapse {
  flex-wrap: wrap;
  box-shadow: 2px 2px 8px 0 rgba(39, 47, 51, 0.25);
  margin: 10px 10px 10px 10px;
}

.title {
  object-fit: contain;
  font-family: "Segoe UI";
  font-weight: bold;
  font-size: 20px;
  padding-left: 10px;
  padding-top: 8px;
  text-align: left;
  color: #272f33;
  position: relative;
  width: 100%;
}
.titel-length {
  object-fit: contain;
  font-family: "Segoe UI";
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  color: #62c6d6;
  position: relative;
}
#new-group-button {
  border-radius: 4px;
  font-family: "Segoe UI";
  font-size: 12px;
  border: dotted 2px #bababa;
  background-color: transparent;
  width: 98%;
  height: 40px;
  margin-left: 10px;
  margin-top: 10px;
}
#order-heading {
  margin-top: -30px;
  padding-left: 30px;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: bold;
  position: relative;
  height: 30px;
  width: 300px;
}
#color-block {
  width: 25px;
  height: 25px;
  border-radius: 4px;
  border: #62c6d6 1px solid;
  margin-bottom: -20px;
}

.button-space {
  position: relative;
  float: right;
}
.button-style {
  float: right;
  font-family: "Segoe UI";
  font-size: 14px;
  width: 100px;
  height: 30px;
  margin-top: 13px;
  margin-right: 20px;
  object-fit: contain;
  border-radius: 4px;
  color: #62c6d6;
  border: solid 1px #62c6d6;
  background-color: white;
}
.button-style:hover {
  background-color: #62c6d6;
  color: white;
  border: transparent;
  cursor: pointer;
}
.button-style-group {
  float: right;
  font-family: "Segoe UI";
  width: 100px;
  height: 30px;
  padding-top: 5px;
  object-fit: contain;
  border-radius: 4px;
  border: solid 1px #62c6d6;
  background-color: white;
  color: #62c6d6;
  text-align: center;
  font-size: 14px;
  margin-right: 8px;
  margin-top: -30px;
}
.button-style-group:hover {
  background-color: #272f33;
  color: white;
  border: transparent;
  cursor: pointer;
}
.button-style-printing {
  float: right;
  font-family: "Segoe UI";
  width: 130px;
  height: 30px;
  object-fit: contain;

  margin-top: 12px;
  font-size: 13px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: normal;
  color: #272f33;
}
.create-new-order {
  width: 149px;
  height: 149px;
  /* margin: 1px; */
  object-fit: contain;
  opacity: 0.5;
  box-shadow: 4px 4px 6px 0 rgba(39, 47, 51, 0.25);
  background-color: #ffffff;
  border: 1px solid #272f33;
}

.create-new-order {
  width: 100px;
  height: 100px;
  border: transparent 2px solid;
  object-fit: contain;
  border-radius: 4px;
  box-shadow: 2px 2px 8px 0 rgba(39, 47, 51, 0.25);
  background-color: #ffffff;
  display: flex;
  margin: 2px;
  align-content: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
.copy-filter {
  background-color: white;
  border: transparent;
  font-family: "Segoe UI";
  font-size: 12px;
  color: #62c6d6;
  float: right;
  margin-right: 115px;
  margin-top: -25px;
}

.copy-filter:hover {
  cursor: pointer;
}
.no-data-to-display {
  width: 376px;
  height: 42px;
  object-fit: contain;
  font-family: SegoeUI;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: center;
  color: rgb(98, 198, 214);
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 50px; */
  margin-block-start: 5%
}

.order-heading-creation-date {
  /* width: 285px;
  height: 17px; */
  object-fit: contain;
  font-family: "Segoe UI";
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: normal;
  /* text-align: left; */
  color: #272f33;
  padding-left: 30px;
  position: relative;
  height: 30px;
  width: 300px;
  margin-top: -10px;
}
.filter-is-set {
  object-fit: contain;
  font-family: "Segoe UI";
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding-bottom: 3px;
  padding-left: 3px;
}
