<div class="page-container">
  <div id="title">Druckerverwaltung</div>
  <div class="new-printer" (click)="openDialogNewPrinter()">
    <div class="add-new-printer">
      <h4><b>+</b> neuen Drucker hinzufügen</h4>
    </div>
  </div>
  <div class="half-container">
    <!-- Schleife und Ausgabe von den verfügbaren Druckern -->
    <mat-expansion-panel
      *ngFor="let printer of printerData"
      class="expand-collapse"
    >
      <mat-expansion-panel-header>
        <!-- Ausgabe von allen verfügbaren Druckern -->
        <mat-panel-title id="order-heading">
          <img
            height="35px"
            width="35px"
            src="../../../assets/svg/Pfad 141.svg"
            style="padding-left: 10px; height: 30px"
          />
          <div class="printer">
            Drucker: {{ printer.printer_id }}, {{ printer.printer_name }}
          </div>
        </mat-panel-title>

        <!-- Printer is online -->
        <div *ngIf="(printer.printer$ | async)?.offline == 0">
          <!-- Printer is in printing process -->
          <div *ngIf="(printer.printer$ | async)?.is_printing == 1">
            <!-- Paused printer-->
            <div *ngIf="(printer.printer$ | async)?.paused == 1">
              <div id="button-space">
                <div class="button-style-printing" >
                  pausiert
                </div>
              </div>
            </div>
            <!-- Not paused -->
            <div *ngIf="(printer.printer$ | async)?.paused != 1">
              <div id="button-space">
                <div class="button-style-printing" >
                  druckt gerade ...
                </div>
              </div>
            </div>
          </div>
          <!-- Printer is not printing-->
          <div *ngIf="(printer.printer$ | async)?.is_printing != 1">
            <div id="button-space">
              <div class="button-style">
                verfügbar
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="(printer.printer$ | async)?.offline != 0">
            <div id="button-space">
                <div class="button-style">
                  offline
                </div>
              </div>
        </div>

      </mat-expansion-panel-header>

      <app-status
        style="overflow: auto"
        [printer]="printer.printer$"
      ></app-status>
      <button (click)="deletePrinter(printer.printer_id)">
        Drucker löschen
      </button>
    </mat-expansion-panel>
    <button (click)="startPrinter(23)">Druck Starten</button>
    <button (click)="stopPrinter(23)">Druck Stop</button>
    <button (click)="togglePrinter(23)">Pause toggeln</button>
  </div>
</div>
