.page-container {
  display: flex;
  flex-direction: column;
}

.new-printer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 98%;
  object-fit: contain;
  background-color: white;
  border-radius: 4px;
  border: #62c6d6 solid 1px;
  margin-left: 8px;
}

.new-printer:hover{
  cursor: pointer;
}

#print-icon {
  fill: #62c6d6;
}

#print-icon path {
  fill: #62c6d6;
}
#heading{
  font-size: 14px;
  color: #62c6d6;
  margin-top: 5px;
}

.printer {
  font-size: 16px;
  font-weight: bold;
  padding-left: 15px;
  align-self: center;
  color: #272f33;
}

.add-new-printer {
  /* width: 224px;
    height: 24px; */
  object-fit: contain;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #272f33;
  /* color: red; */
}

#title{
  font-size: 20px;
  object-fit: contain;
  font-family: "Segoe UI";
  text-align: left;
  color: #272f33;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 5px;
}


/* .expand-collapse {
  width: 1272px;
  height: 40px;
  width: auto;
  border-radius: 5px;
  padding-left: 2px;
  object-fit: contain;
  box-shadow: 2px 4px 8px 0 rgba(39, 47, 51, 0.25);
  background-color: #ffffff;
  border: #f3f3f3 0.02cm solid;
} */

.expand-collapse {
  flex-wrap: wrap;
  box-shadow: 2px 2px 8px 0 rgba(39, 47, 51, 0.25);
  margin: 10px  1px  10px 1px;
}

#order-heading {
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: bold;
  position: relative;
  height: 30px;
  width: 100%;
  padding-top: 7px;
}

.half-container {
  max-height: 1px;
  min-height:  70vh;
  width: 98.2%;
  overflow: auto;
  margin-left: 7px;
  margin-top: 7px;

}

.button-style-printing {
  float: right;
  font-family: "Segoe UI";
  width: 130px;
  height: 30px;
  margin: 2px;
  padding-right: 20px;
  object-fit: contain;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: center;
  color: #272f33;
}

.button-style {
  float: right;
  width: 100px;
  height: 30px;
  object-fit: contain;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: center;
  color: #62c6d6;
}

 #button-space {
  height: 40px;
  width: 100%;
  position: relative;
  padding-right: 20px;
  padding-top: 10px;
  float: right;
} 

.delete-button {
  width: 130px;
  height: 30px;
  color: #62c6d6;
  font-size: 14px;
  object-fit: contain;
  border: solid 1px #62c6d6;
  background-color: white;
  float: right;
}