<ng-content select="nz-breadcrumb"></ng-content>

<div style="padding:24px; background: #fff; min-height: 360px;">
  <ng-content select=".basic-content"></ng-content>
</div>


<!-- <app-basic-layout>
    <nz-breadcrumb style="margin:16px 0;" class="breadcrums">
        <nz-breadcrumb-item>User</nz-breadcrumb-item>
        <nz-breadcrumb-item>BasicPage</nz-breadcrumb-item>
      </nz-breadcrumb>
  <div class="basic-breadcrumbs">
      test
  </div>
  <div class="basic-content">
    Basic contenttttt
  </div>
</app-basic-layout> -->