.page-container{
    display: flex;
    flex-direction: column;
}
#titel{
  font-weight: bold;
  font-size: 20px;
  padding-left: 10px;
  margin-top: 20px;
}
.half-container{
max-height: 85vh;
min-height: 85vh;
overflow: auto;
margin: 2px;
object-fit: contain;
/* box-shadow: 4px 4px 6px 0 rgba(39, 47, 51, 0.25); */
}


.hilfestellung {
    width: 157px;
    height: 35px;
    object-fit: contain;
    font-family: SegoeUI;
    font-size: 26px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: #272f33;
  }
  #heading {
    font-family: "Segoe UI";
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    color: #272f33;
  }
  #sub-titel{
    text-align: left;
    font-size: 12px;
    padding-left: 35px;
  }
#button-style{
  border-radius: 4px;
  background-color: transparent;
  color: #62c6d6;
  border: #62c6d6 solid 1px;
  text-align: center;
  justify-items: right;
}

#button-space{
 float: right;
}
