.page-container{
    display: flex;
    flex-direction: column;
}
#titel{
  object-fit: contain;
  font-family: "Segoe UI";
  padding-left: 5px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.35;
  text-align: left;
  color: #272f33;
}
.half-container{
max-height: 85vh;
min-height: 85vh;
overflow: auto;
margin: 2px;
object-fit: contain;
}


.hilfestellung {
    width: 157px;
    height: 35px;
    object-fit: contain;
    font-family: "Segoe UI";
    font-size: 26px;
    font-weight: bold;
    line-height: 1.35;
    text-align: left;
    color: #272f33;
  }
  #heading {
    padding-left: 10px;
    padding-top: 5px;
    height: 21px;
    object-fit: contain;
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: bold;
    line-height: 1.31;
    text-align: left;
    color: #272f33;
  }
  #sub-titel{
    padding-left: 35px;
    object-fit: contain;
    font-family: "Segoe UI";
    font-size: 14px;
    font-weight: bold;
    line-height: 1.31;
    text-align: left;
    color: #272f33;
  }
#button-style{
  border-radius: 4px;
  background-color: white;
  color: #62c6d6;
  border: #62c6d6 solid 1px;
  text-align: center;
  justify-items: right;
  font-size: 14px;
}
#button-style:hover{
  background-color: #62c6d6;
  color: white;
}

#button-space{
 float: right;
}

#order-heading {
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: bold;
  position: relative;
  height: 30px;
  width: 100%;
}

.expand-collapse {
  flex-wrap: wrap;
  font-size: 8px;
  box-shadow: 2px 2px 8px 0 rgba(39, 47, 51, 0.25);

  margin: 5px;
}
