<div class="page-container">
  <div class="half-container">
    <div class="hilfestellung">Hilfestellung</div>
    <!-- "Vorbereitung" Panel -->
    <mat-expansion-panel style=" margin-left: -20px;">
      <mat-expansion-panel-header>
        <mat-panel-title class="ueberschriften">
          <img src="../../../assets/svg/Hilfestellung_Button.svg">
          Vorbereitung
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <!-- "Druckprozess" Panel -->
    <mat-expansion-panel style=" margin-left: -20px;">
      <mat-expansion-panel-header>
        <mat-panel-title class="ueberschriften">
          <img src="../../../assets/svg/Hilfestellung_Button.svg">
          Druckprozess
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <!-- "Nachbereitung"- Panel  -->
    <mat-expansion-panel style=" margin-left: -20px;">
      <mat-expansion-panel-header>
        <mat-panel-title class="ueberschriften">
          <img src="../../../assets/svg/Hilfestellung_Button.svg">
          Nachbereitung
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="unter-ueberschriften"> Wie reinige ich das Modell nach dem Drucken?</div>
      <br>
      <div class="unter-ueberschriften"> Wie härte ich das Modell nach dem Drucken aus? </div>
      <br>
      <div class="unter-ueberschriften"> Wie schließe ich den Auftrag endgültig ab?</div>
    </mat-expansion-panel>








  </div>
  <div class="half-container">
    <h3>Softwarebedienung</h3>
    <!-- Wartung des Druckers - Panel  -->
    <mat-expansion-panel style=" margin-left: -20px;">
      <mat-expansion-panel-header>
        <mat-panel-title class="ueberschriften">
          <img src="../../../assets/svg/Hilfestellung_Button.svg">
          Wartung des Druckers
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <!-- Funktionsweise des POMS -->
    <mat-expansion-panel style=" margin-left: -20px;">
      <mat-expansion-panel-header>
        <mat-panel-title class="ueberschriften">
          <img src="../../../assets/svg/Hilfestellung_Button.svg">
          Funktionsweise des POMS
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>


  </div>
</div>