<div class="page-container">
  <div >
    <div *ngFor="let category of helpData | keyvalue" class="half-container">
      <h1 id="title">{{category.key}}</h1>
      <mat-expansion-panel style=" margin-left: -20px;" *ngFor="let subcategory of category.value | keyvalue"
        class="expand-collapse">
        <mat-expansion-panel-header>
          <mat-panel-title id="order-heading">
            <img style="width: 25px" src="../../../assets/svg/Hilfestellung_Button.svg" />
            <h1 id="heading">{{ subcategory.key }}</h1>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <br>
        <div *ngFor="let item of subcategory.value">
          <!-- <div id="sub-titel" (click)="onClick(subtopic)">
           <div id="sub-titel" (click)="openPopUpFaq()"> 
           <div id="sub-titel" (click)="openFAQPopUp()"> -->
          <div id="sub-titel" (click)="openUrlTextPopUp(item, category.key, subcategory.key)">
            {{item.title}}
          </div>
          <br />
        </div>
        <div id="button-space">
          <button id="button-style" (click)="createNewFaq(category, subcategory)">hinzufügen</button>
        </div>
      </mat-expansion-panel>
    </div>
  </div>
</div>
