.page-container{
    display: flex;
    flex-direction: column;
}

.half-container{
max-height: 85vh;
min-height: 85vh; 
overflow: auto;
margin: 2px;
object-fit: contain;
/* box-shadow: 4px 4px 6px 0 rgba(39, 47, 51, 0.25); */
}


.hilfestellung {
    width: 157px;
    height: 35px;
    object-fit: contain;
    font-family: SegoeUI;
    font-size: 26px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: #272f33;
  }
  .ueberschriften {
    width: 99px;
    height: 21px;
    object-fit: contain;
    font-family: SegoeUI;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #272f33;
  }
  .unter-ueberschriften{
    text-indent: 50px;
    /* width: 351px; */
    height: 21px;
    object-fit: contain;
    font-family: SegoeUI;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #272f33;
  }