<div class="page-container">
  <div class="half-container">
    <div *ngFor="let page of allHelpTopics">
      <h1 id="titel" >{{ page.pageTitel }}</h1>
      <mat-expansion-panel
        style=" margin-left: -20px;"
        *ngFor="let topic of page.topics"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <img style="width: 25px" src="../../../assets/svg/Hilfestellung_Button.svg" />
            <h1 id="heading">{{ topic.topicTitel }}</h1>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let subtopic of topic.subtopics">
          <div id="sub-titel" (click)="onClick(subtopic)">
            {{ subtopic.subtopicTitel }}
          </div>
          <br />
        </div>
        <div id="button-space">
        <button id="button-style" (click)="openPopUpFaq()">add Topic</button>
        </div>
        <div *ngIf="newFaq">
          Test FAQ
        </div>
      </mat-expansion-panel>
    </div>
  </div>
</div>
