<!-- Refrence: https://ng.ant.design/components/layout/en#components-layout-demo-top -->
<nz-layout>
  <!-- Left Side Menu -->
  <nz-sider
    nzCollapsible
    [(nzCollapsed)]="isCollapsed"
    [nzWidth]="width"
    [nzReverseArrow]="isReverseArrow"
  >
    <div class="logo">
      <img src="../../assets/bitExpert_logo.svg" alt="bitExpert" />
    </div>
    <ul
      nz-menu
      [nzTheme]="'dark'"
      [nzMode]="'inline'"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li nz-submenu>
        <span title
          ><i nz-icon type="user"></i><span class="nav-text">User</span></span
        >
        <ul>
          <li nz-menu-item>Tom</li>
          <li nz-menu-item>Bill</li>
          <li nz-menu-item>Alex</li>
        </ul>
      </li>
      <li nz-submenu>
        <span title
          ><i nz-icon type="team"></i><span class="nav-text">Team</span></span
        >
        <ul>
          <li nz-menu-item>Team 1</li>
          <li nz-menu-item>Team 2</li>
        </ul>
      </li>
      <li nz-menu-item [routerLink]="['timeline']">
        <span>
          <i nz-icon type="file"></i>
          <span class="nav-text">File</span>
        </span>
      </li>
      <li nz-menu-item [routerLink]="['test']">
        <span>
          <i nz-icon type="printer"></i>
          <span class="nav-text">Printer</span>
        </span>
      </li>
      <li nz-menu-item [routerLink]="['basicpage']">
        <span>
          <i nz-icon type="user"></i>
          <span class="nav-text">BasicLayout</span>
        </span>
      </li>
    </ul>
  </nz-sider>
  <!-- Main Layout - includes right Sider -->
  <nz-layout>
    <!-- Header -->
    <nz-header style="background-color: rgb(33, 216, 33)">
      <div nz-row nzType="flex" nzJustify="space-between" nzAlign="middle">
        <div nz-col nzSpan="4"><p>Page Title</p></div>
        <!-- <div nz-col nzSpan="4"><p class="height-120">col-4</p></div> -->
        <div nz-col nzSpan="4">
          <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
            <input type="text" nz-input placeholder="input search text" />
          </nz-input-group>
          <ng-template #suffixIconButton>
            <button nz-button nzType="primary" nzSearch>
              <i nz-icon type="search"></i>
            </button>
          </ng-template>
        </div>
      </div>
    </nz-header>
    <!-- Page layout -includes right sider -->
    <nz-layout>
      <!-- Displayed content - slot projection -->
      <nz-content style="margin:0 16px;">
        <ng-content></ng-content>
      </nz-content>
      <!-- Right sider  -->
      <nz-sider
        style="background-color: rgb(206, 216, 206); flex: 1; max-width: 300px; min-width: 300px; width: 300px;"
      >
        <div>
          <nz-divider nzText="Druckaufträge" nzOrientation="left"></nz-divider>
          <ul>
            <li>
              #1234<nz-progress [nzPercent]="30" nzSize="small"></nz-progress>
            </li>
            <li>
              <nz-progress
                [nzPercent]="50"
                nzSize="small"
                nzStatus="active"
              ></nz-progress>
            </li>
          </ul>
          <div>
            <nz-divider nzText="#12345" nzOrientation="left"></nz-divider>
            <nz-progress
              [nzPercent]="70"
              nzSize="small"
              nzStatus="exception"
            ></nz-progress>
          </div>
          <nz-progress [nzPercent]="100" nzSize="small"></nz-progress>
          <nz-progress
            [nzPercent]="50"
            nzSize="small"
            [nzShowInfo]="false"
          ></nz-progress>
        </div>
      </nz-sider>
    </nz-layout>
    <!-- Footer -->
    <nz-footer style="text-align: center;">
      Ant Design ©2019 Implement By Angular
    </nz-footer>
  </nz-layout>
</nz-layout>
