.page-container{
  width: 725px;
  height: 540px;
  flex-direction: column;
  background-color: transparent;
  display: flex;
}
.harz-container {
  display: flex;
  flex-direction: row;
  width: 550px;
  height: auto;
  flex-wrap: wrap;
}
.inner.container{
  margin-top: -10px;
}
#color-block{
  width: 15px;
  height: 15px;
  border-radius: 4px;
  border: #62c6d6 1px solid;
  margin-top: -14px;
  margin-left: -18px;
}

.radio-container input{
  position: absolute;
  clip: rect(0,0,0,0);
  height: 20px;
  width: 20px;
  border: 0;
  overflow: hidden;
}
.radio-container label{
  width: 100px;
  height: 30px;
  margin-right: 5px;
  background-color: transparent;
  font-size: 12px;
  color: #62c6d6;
  line-height: 1;
  text-align: center;
padding-top: 8px;
  border: #62c6d6 1px solid;
  border-radius: 4px;
}
.radio-container label:hover{
  cursor: pointer;
  color: white;
  background-color: #272f33;
  border: #272f33 1px solid;
}
.radio-container input:checked + label{
  background-color: #272f33;
  color: white;
  border: transparent;
}
#harz-title{
  font-family: "Segoe UI";
  font-size: 14px;
  overflow: visible;
  height: 30px;
  width: 100px;
  text-align: left;
  padding-left: 20px;

}
.heading{
  object-fit: contain;
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: bold;
  /* text-align: center; */
  text-align: left;
  color: #272f33;
}
.title{
  font-family: "Segoe UI";
  font-weight: bold;
  font-size: 14px;
}
.send-button {
  border-radius: 4px;
  width: 100px;
  height: 30px;
  color: white;
  object-fit: contain;
  border: solid 1px #62c6d6;
  background-color: #62c6d6;
  margin: 2px;
  font-size: 14px;
}

.break-button{
  margin: 2px;
  border-radius: 4px;
  width: 100px;
  height: 30px;
  object-fit: contain;
  border: solid 1px #62c6d6;
  color: #62c6d6;
  background-color: #ffffff;
  font-size: 14px;
}
.rechteck-eingabe {
  width: 370px;
  height: auto;
  object-fit: contain;
  background-color: #ffffff;
  border-radius: 4px;
  border: solid 1px #62c6d6;
}
#boxenPrio{
  width: 149px;
  height: auto;
  object-fit: contain;
  border: solid 1px #62c6d6;
  background-color: #ffffff;
}

