<div class="page-container">
  <div class="half-container">
    <h1 class="heading">Allgemein</h1>
    <div style="margin-left: -10px;">
      <mat-card class="card-gruppen">
        <div class="unter-ueberschrift">
          <img class="icon-card" src="../../../assets/svg/Hilfestellung_Button.svg">
          <h2 class="titel-card"> Sprache</h2> </div>
      </mat-card>
    </div>
    <div style="margin-left: -10px;">
      <mat-card class="card-gruppen">
        <div class="unter-ueberschrift">
          <img class="icon-card" src="../../../assets/svg/Hilfestellung_Button.svg">
          <h2 class="titel-card"> Nutzerprofil</h2></div>
      </mat-card>
    </div>
<!--unter Häfte der Einstellungsseite-->
  </div>
  <div class="half-container">
    <h1 class="heading">Inhalte verändern</h1>
    <div style="margin-left: -10px;">
      <mat-card class="card-gruppen">
        <div class="unter-ueberschrift">
          <img class="icon-card" src="../../../assets/svg/Hilfestellung_Button.svg">
         <h2 class="titel-card">Kundenstamm</h2> </div>
      </mat-card>
    </div>
    <div style="margin-left: -10px;">
      <mat-card class="card-gruppen">
        <div class="unter-ueberschrift">
          <img class="icon-card" src="../../../assets/svg/Hilfestellung_Button.svg">
          <h2 class="titel-card"> Kategorien</h2></div>
      </mat-card>
    </div>
    <div style="margin-left: -10px;">
      <mat-card class="card-gruppen">
        <div class="unter-ueberschrift">
          <img class="icon-card" src="../../../assets/svg/Hilfestellung_Button.svg">
          <h2 class="titel-card">Farbauswahl</h2></div>
      </mat-card>
    </div>
    <div style="margin-left: -10px;">
      <mat-card class="card-gruppen">
        <div class="unter-ueberschrift">
          <img class="icon-card" src="../../../assets/svg/Hilfestellung_Button.svg">
          <h2 class="titel-card">Prioritäten</h2></div>
      </mat-card>
    </div>



  </div>
</div>
