<div class="page-container">
  <div class="half-container">
    <div class="ueberschriften">Allgemein</div>
    <div style="margin-left: -10px;">
      <mat-card class="card-gruppen">
        <div class="unter-ueberschrift">
          <img src="../../../assets/svg/Hilfestellung_Button.svg">
          Sprache </div>
      </mat-card>
    </div>
    <div style="margin-left: -10px;">
      <mat-card class="card-gruppen">
        <div class="unter-ueberschrift">
          <img src="../../../assets/svg/Hilfestellung_Button.svg">
          Nutzerprofil</div>
      </mat-card>
    </div>








  </div>
  <div class="half-container">
    <div class="ueberschriften">Inhalte verändern</div>
    <div style="margin-left: -10px;">
      <mat-card class="card-gruppen">
        <div class="unter-ueberschrift">
          <img src="../../../assets/svg/Hilfestellung_Button.svg">
          Kundenstamm</div>
      </mat-card>
    </div>
    <div style="margin-left: -10px;">
      <mat-card class="card-gruppen">
        <div class="unter-ueberschrift">
          <img src="../../../assets/svg/Hilfestellung_Button.svg">
          Kategorien</div>
      </mat-card>
    </div>
    <div style="margin-left: -10px;">
      <mat-card class="card-gruppen">
        <div class="unter-ueberschrift">
          <img src="../../../assets/svg/Hilfestellung_Button.svg">
          Farbauswahl</div>
      </mat-card>
    </div>
    <div style="margin-left: -10px;">
      <mat-card class="card-gruppen">
        <div class="unter-ueberschrift">
          <img src="../../../assets/svg/Hilfestellung_Button.svg">
          Prioritäten</div>
      </mat-card>
    </div>



  </div>
</div>