.page-container{
    display: flex;
    flex-direction: column;
}


.half-container{
max-height: 85vh;
min-height: 85vh; 
overflow: auto;
margin: 2px;
object-fit: contain;
/* box-shadow: 4px 4px 6px 0 rgba(39, 47, 51, 0.25); */
}

.heading{
  font-family: "Segoe UI";
  font-size: 18px;
  font-weight: bold;
  padding-top: 15px;
  padding-left: 10px;
  margin-bottom: 15px;
}
  .unter-ueberschrift {
    font-family: "Segoe UI";
    font-weight: bold;
    font-size: 14px;
    margin-bottom: -10px;
    position: relative;
    background-color: transparent;
    margin-top: 50px;
    left: -5px;

  }
  .card-gruppen {
    /* width: 1276px; */
    height: 40px;
    width: 97.5%;
    object-fit: contain;
    border-radius: 4px;
    box-shadow: 2px 2px 8px 0 rgba(39, 47, 51, 0.25);
    background-color: #ffffff;
    margin-left: 17px;
    margin-bottom: 8px;
    margin-top: 8px;

  }
.titel-card{
  font-size: 14px;
  font-family: "Segoe UI";
  margin-top: -27px;
  padding-left: 45px;
  font-weight: bold;

}
.icon-card{
  width: 25px;
  height: auto;
  margin-top: -18px;
}
