<div class="page-container">
    <div class="half-container">
      <div *ngFor="let page of allSettingsTopics">
        <p>{{ page.pageTitel }}</p>
        <mat-expansion-panel
          style=" margin-left: -20px;"
          *ngFor="let topic of page.topics"
        >
          <mat-expansion-panel-header>
            <mat-panel-title class="ueberschriften">
              <img src="../../../assets/svg/Hilfestellung_Button.svg" />
              {{ topic.topicTitel }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngFor="let subtopic of topic.subtopics">
            <div class="unter-ueberschriften" (click)="onClick(subtopic)">
              {{ subtopic.subtopicTitel }}
            </div>
            <br />
          </div>
          <button (click)="addNewTopic(topic)">add Topic</button>
        </mat-expansion-panel>
      </div>
    </div>
  </div>
