.page-container{
    display: flex;
    flex-direction: column;
}


.half-container{
max-height: 95vh;
min-height: 95vh;
overflow: auto;
padding-left: 10px;
object-fit: contain;
  padding-top: 10px;
/* box-shadow: 4px 4px 6px 0 rgba(39, 47, 51, 0.25); */
}

#titel{
  margin-left: -20px;
  object-fit: contain;
  font-family: "Segoe UI";
  font-size: 20px;
  text-align: left;
  color: #272f33;
  font-weight: bold;
}
#heading {
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  padding-top: 5px;
  color: #272f33;
 padding-left: 10px;

}
#sub-titel{
  padding-left: 40px;
  object-fit: contain;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: bold;
  color: #272f33;
}
#sub-titel:hover{
  cursor: pointer;
}


#order-heading {
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: bold;
  position: relative;
  z-index: 10;
  height: 30px;
  width: 100%;
}

.expand-collapse {
  flex-wrap: wrap;
  box-shadow: 2px 2px 8px 0 rgba(39, 47, 51, 0.25);
  margin: 10px  10px  10px 10px;
}
